$main_color:#00D63B;
$black_color:#707070;
$gray_color:#BEBDBD;
$white_color:#F9F9F9;
$white_color_second:#EEEEEE;
$black_color_second:#3d3d3d;
$main_gradient: linear-gradient(180deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
$main_gradient2: linear-gradient(90deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
@mixin font($s:14px, $w:normal, $c:null, $f:null){
  font-size: $s;
  font-weight: $w;
  font-family: $f;
  color : $c;
}
@mixin size($w:100%, $h:100%){
  width: $w;
  height: $h;
}
@mixin position($t:null ,$l:null, $p:absolute, $r:null ,$b:null){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
@mixin background($u:null, $d:center, $s:cover){
  background-image: url("../img/#{$u}");
  background-position: $d center;
  background-size: $s;
  background-repeat: no-repeat;
}
@mixin text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}
@mixin arrow ($direction){
  cursor: pointer;
  @include background('icons/arrow_#{$direction}.png', #{$direction});
  &:hover{
    @include background('icons/arrow_#{$direction}_green.png', #{$direction});
  }
}
@mixin flex ($j:space-between, $a:center, $d:null){
  display: flex;
  justify-content: $j;
  align-items : $a;
  flex-direction: $d;
}
@keyframes artist_move{
  from{
    bottom: -100%;
  }
  to{
    bottom: 0px;
  }
}
@keyframes artist_text{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.9;
  }
}
@keyframes album_change{
  from{
    opacity: 0.5;
    transform: scale(0.6);
  }
  to{
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes album_small{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.6);
  }
}
@keyframes toggle_move_top{
  0%{
    top: 16px;
  }
  50%{
    top: 30px;
  }
  100%{
    top: 16px;
  }
}
@keyframes toggle_move_bottom{
  0%{
    bottom: 16px;
  }
  50%{
    bottom: 30px;
  }
  100%{
    bottom: 16px;
  }
}
@keyframes toggle_move_left{
  0%{
    left: 30px;
  }
  50%{
    left: 20px;
  }
  100%{
    left: 30px;
  }
}
@keyframes toggle_move_right{
  0%{
    right: 290px;
  }
  50%{
    right: 280px;
  }
  100%{
    right: 290px;
  }
}
::-webkit-scrollbar{
  width: 10px;
  &-track{
    background-color: transparent;
  }
  &-thumb{
    border-radius: 5px;
    background-color: #BEBDBD;
    &:hover{
      background-color: $black_color;
    }
  }
}
body{
  font-family: 'noto sans kr','poppins',sans-serif;
  font-size: 14px;
  color: $black_color;
  overflow: hidden;
  max-width: 1920px;
  min-width: 1920px;
  .sub_menu{
    @include size;
    @include position(0, 100%);
    background: #fff;
    transition: 1s;
    z-index: 5;
    &.on{
      left: 240px;
    }
  }
  .sub_title{
    @include font(28px, bold, $main_color, "poppins");
  }
  .black_bg{
    display: block;
    content: "";
    @include size;
    @include position(0, 0);
    background: rgba(0,0,0,0.5);
  }
}
header{
  @include size(1520px, 50px);
  @include position(40px, 320px, fixed);
  @include flex;
  z-index: 10;
  .search_bar{
    @include size(593px, 35px);
    @include position($p:relative);
    border-radius: 20px;
    background: $white_color_second;
    padding: 6px 20px;
    opacity: 0.3;
    input{
      background: none;
      width: 80%;
      color: $black_color_second;
    }
    .search_icon{
      @include size(20px, 20px);
      @include position($r:17px, $t:8px);
      @include background("icons/search.png");
    }
  }
  .alarm_menu{
    @include flex($j: null);
    .alert{
      @include size(30px, 30px);
      @include background('icons/alarm.png');
      margin-right: 15px;
    }
    .profile{
      @include size(50px, 50px);
      @include background('profile.png');
      border-radius: 50%;
    }
  }
}
aside{
  @include position($p:fixed);
  @include size(240px, 100vh);
  background: #eee;
  .menu{
    padding: 30px 40px;
    @include position($p:relative);
    .menu_bg{
      @include size(180px, 36px);
      @include position(74px, 20px);
      border-radius: 12px;
      background: #4be274;
      transition: 0.5s;
    }
    h1{
      margin-bottom: 35px;
      height: 20px;
      font-size: 0;
      @include background('logo.png', left, contain);
    }
    img{
      @include size(20px, 20px);
      margin-right: 10px;
      vertical-align: middle;
    }
    .main_menu{
      li{
        position: relative;
        line-height: 12px;
        font-size: 12px;
        z-index: 1;
        transition: 0.5s;
        margin-bottom: 22px;
        padding-left: 30px;
        cursor: pointer;
        span{
          content: "";
          display: block;
          @include size(20px, 20px);
          @include position(0, -4px);
          background: black;
        }
        &.on{
          color: #fff;
        }
        &:hover{
          color: #fff;
        }
        @for $i from 1 to 7{
          &:nth-child(#{$i}){
            &:hover span, &.on span{
              background: url(../img/icons/icon_#{$i}w.png);
            }
            span{
              background: url(../img/icons/icon_#{$i}.png);
            }
          }
        }
      }
    } 
    .my_menu{
      @include font(14px, bold);
      margin-top: 40px;
      li{
        @include font(12px);
        margin-top: 24px;
      }
    }
  }
  .now_playing{
    @include position($l:0, $b:0);
    @include size(100%, 400px);
    background-size: cover;
    @include flex($a:center, $d:column);
    padding: 20px 25px;
    .player_bg{
      @include size;
      @include position(0, 0);
      @include background('album_art/iu.jpg');
      display: block;
      content: "";
      filter: blur(20px);
    }
    .player{
      @include position($p:relative);
      z-index: 2;
      h5{
        @include font(18px,bold,#fff);
        margin-bottom: 17px;
      }
      .album_art{
        @include size(180px, 180px);
        border-radius: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        img{
          @include size;
        }
      }
      .song_title{
        @include font(18px, bold, $black_color_second);
      }
      .song_artist, .song_album{
        @include font(12px);
      }
      .play_btn{
        @include size(107px, 30px);
        @include flex;
        margin: 15px auto;
        img{
          width: 100%;
        }
        .start_btn, .stop_btn{
          @include size(30px, 30px);
        }
        .stop_btn{
          display: none;
        }
        .prev_btn, .next_btn{
          @include size(20px, 20px);
        }
      }
        .status_bar{
        @include size(100%, 8px);
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 30px;
          div{
            @include size(0, 100%);
            background: $main-color;
            transition: 0.5s;
          }
        }
    }
  }
}

#wrap_home{ 
  @include position($p:relative, $l:240px);
  width: 1680px;
  .page_toggle{
    span{
      @include position($p:fixed);
      @include size(60px, 34px);
      display: block;
      z-index: 4;
      margin-left: 120px;
      &.top{
        @include arrow(top);
        @include position(16px, 50%, null);
        display: none;
        transform: translateX(-50%);
        animation: toggle_move_top 2s infinite;
      }
      &.bottom{
        @include arrow(bottom);
        @include position($b:16px, $l:50%, $p:null);
        transform: translateX(-50%);
        animation: toggle_move_bottom 2s infinite;
      }
    }
  }
  section{
    @include size(1680px, 100vh);
    @include position($p:relative, $l:0);
    &.visual{
      .visual_group{
        @include size;
        li{
          @include position(0, 0);
          @include size;
          transition: 2s;
          overflow: hidden;
          @for $i from 1 to 4{
            &:nth-child(#{$i}){
              opacity: 0;
              .visual_img{
                @include background('visual#{$i}.jpeg');
                @include size;
              }
            }
          }
          &:nth-child(1){
            opacity: 1;
          }
          .visual_text{
            @include position(160px, 80px);
            width: 100%;
            h2{
              @include position($l:0);
              @include font(60px,bold,$white_color);
              overflow: hidden;
              line-height: 80px;
              margin-bottom: 20px;
            }
            p{
              @include position(220px, 0);
              color: $white_color_second;
            }
          }
        }  
      }
      .sub_visual{
        @include position($l:80px, $b:90px);
        @include size(1530px, 290px);
        @include flex($d:null);
        overflow: hidden;
        li{
          @include position(0, 0, relative);
          @include size(470px, 290px);
          border-radius: 20px;
          box-shadow: 0 3px 6px rgba(0,0,0,0.4);
          transition: 1s;
          opacity: 0.8;
          transform: scale(0.8);
          cursor: pointer;
          &:hover{
            opacity: 1;
            transform: scale(1);
          }
          &.on{
            opacity: 1;
            transform: scale(1);
          }
          .black_bg{
            border-radius: 20px;
            background: rgba(0,0,0,0.1);
          }
          .sub_visual_text{
            @include position($l:0, $b:5px);
            padding: 20px;
            h4{
              @include font(30px, bold, $white_color, "poppins");
            }
            p{
              @include font(24px, null, #eee, "noto sans kr");
            }
          }
          @for $i from 1 to 4{
            &:nth-child(#{$i}){
              @include background('visual#{$i}.jpeg');
            }
          }
        }
      }
    }
    &.new_album{
      overflow: hidden;
      .new_albums{
        @include size;
        @include position(0, 0);
        li{
          .black_bg{
            background: rgba(0,0,0,0.2);
          }
          @include size;
          @include position(0, 0);
          opacity: 0;
          transition: 2s;
          &.on{
            opacity: 1;
            z-index: 1;
          }
          @for $i from 1 to 5{
            &.album0#{$i}{
              @include background('new_album#{$i}.jpg');
            }
          }
        }
        .new_album_text{
          @include position(240px, 80px);
          opacity: 0.7;
          &:hover{
            opacity: 1;
          }
          h2{
            @include font(70px, bold, #fff, "poppins");
            @include position(10px, -4px, relative);
            line-height: 90px;
          }
          p{
            @include font(24px, bold, $white_color);
          }
          .play_btn{
            @include size(200px, 60px);
            cursor: pointer;
            margin-top: 80px;
            img{
              @include size;
            }
          }
        }
      }
      .album_slide{
        @include size(760px, 480px);
        @include position(50%, 900px);
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 2;
        ul{
          @include position(0, 0);
          @include flex;
          transition: 1s;
          li{
            @include size(480px, 480px);
            opacity: 0.5;
            img{
              @include size;
            }
            &.on{
              animation: album_change 1s forwards;
            }
            &.off{
              animation: album_small 1s forwards;
            }
          }
        }
      }
      .toggle_btn{
        @include position(150px, 900px);
        @include size(134px, 60px);
        @include flex($a:null);
        z-index: 2;
        span{
          @include size(35px, 60px);
          &:first-child{
            @include arrow(left);
          }
          &:last-child{
            @include arrow(right);
          }
        }
      }
    }
    &.artist{
      @include background('artist_bg.jpg');
      &.on{
        .artist_img{
          animation: artist_move 2s forwards;
        }
        .artist_text{
          animation: artist_text 1s 1s forwards;
        }
        .popular_song{
          animation: artist_text 1s 2s forwards;
        }
        .popular_album{
          animation: artist_text 1s 3s forwards;
        }
      }
      .artist_img{
        @include position($l:0, $b:-100%);
        @include size(829px, 1180px);
        img{
          @include size;
        }
      }
      .artist_text{
        @include position($l:180px, $b:285px);
        z-index: 2;
        opacity: 0;
        h3{
          @include font(30px, bold);
        }
        h2{
          @include font(100px, bold, #fff);
        }
      }
      .artist_list{
        @include position($r:0, $b:0);
        @include size(741px, 840px);
        h4{
          @include font(24px, bold, #fff);
        }
        .popular_song{
          opacity: 0;
          @include position(0, 0);
          @include size(520px, 450px);
          .popular_song_title{
            color: #fff;
            @include flex($a:null);
            ul{
              @include size(110px, 40px);
              @include flex($a:null);
              img{
                @include size(15px, 15px);
              }
              li{
                @include size(40px, 40px);
                @include font(12px);
                @include flex(center,center,column);
                span{
                  width: 50px;
                }
              }
            }
          }
          .popular_song_list{
            @include size(520px, 360px);
            overflow-y: scroll;
            li{
              @include flex;
              padding: 20px 8px 14px;
              border-bottom: 1px solid #ccc;
              .popular_song_songs{
                @include flex($j:null);
                div{
                  @include size(60px, 60px);
                  border-radius: 4px;
                  overflow: hidden;
                  margin-right: 14px;
                  img{
                    @include size;
                  }
                }
                p{
                  @include font(18px, bold, #fff);
                  line-height: 28px;
                  span{
                    @include font(14px, normal, #ccc);
                  }
                }
              }
              .popular_song_btn{
                img{
                  vertical-align: middle;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .popular_album{
          opacity: 0;
          @include size(100%, 284px);
          @include position($b:100px, $r:0);
          ul{
            margin-top: 30px;
            @include flex($a:null);
            li{
              width: 180px;
              margin-right: 40px;
              @include flex($j:null, $d:column);
              .popular_album_art{
                @include size(142px, 142px);
                @include position($p:relative);
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 20px;
                div{
                  @include size(40px, 40px);
                  @include position(50%, 50%);
                  border-radius: 50%;
                  background: #ccc;
                  transform: translate(-50%,-50%);
                }
                img{
                  @include size;
                }
              }
              .popular_album_song{
                text-align: center;
                color: #eee;
                h6{
                  @include font(20px, bold);
                  height: 50px;
                  line-height: 24px;
                }
                p{
                  @include font(18px);
                }
              }
            }
          }
        }
      }
    }
    &.magazine{
      background: #000;
      overflow: hidden;
      display: flex;
      .magazine_text{
        @include size(50%, 100%);
        position: relative;
        .scroll_bar{
          @include size(10px, 450px);
          @include position(50%, 100px);
            border-radius: 25px;
            transform: translateY(-50%);
            border: 1px solid #ccc;
            div{
              @include size(100%, 25%);
              background: $main_gradient;
              border-radius: 25px;
              transition: 2s;
            }
        }
        .magazine_index{
          @include position(240px, 180px);
          li{
            background: black;
            @include position(0, 0);
            opacity: 0;
            transition: 1s;
            &:first-child{
              opacity: 1;
            }
            h3{
              @include font(null, bold);
              margin-bottom: 40px;
            }
            h6{
              @include font(18px, bold, #398B5A);
            }
            h2{
              @include font(40px, bold, #fff);
              margin-bottom: 60px;
            }
            p{
              color: #ccc;
              width: 550px;
            }
          }  
        }
      }
      .magazine_img{
        @include size(50%);
        position: relative;
        ul{
          @include size(100%, 400%);
          @include position(0, 0);
          @include flex($j:null, $a:null, $d:column);
          transition: 2s;
        }
        li{
          @include size;
          @for $i from 1 to 5{
            &:nth-child(#{$i}){
              @include background('magazine#{$i}.jpg');
            }
          }
        }
      }
    }
  }
}  

#wrap_chart{
  width: 1680px;
  padding: 100px 80px;
  .chart{
    .chart_text{
      height: 105px;
      position: relative;
      p{
        color: #c7c7c7;
      }
      .chart_category{
        @include position(48px, 455px);
        display: flex;
        li{
          color: #c7c7c7;
          line-height: 14px;
          margin-right: 15px;
          padding-left: 15px;
          border-left: 1px solid $gray_color;
          &:first-child{
            color: $main_color;
            border-left: 0px;
          }
        }
      }
    }
    .chart_main{
      @include position(40px, $p:relative);
      @include size(100%,650px);
      img{
        @include size;
      }
      .no1{
        @include size(300px);
        .no1_art{
          @include size(300px, 300px);
          border-radius: 20px;
          overflow: hidden;
          box-shadow: -20px 20px 20px rgba(0,0,0,0.4);
        }
        .no1_title{
          @include font(40px, bold, $black_color_second);
          @include size(100%, 150px);
          @include text;
          padding-top: 30px;
          line-height: 50px;
          .number{
            font-family: 'poppins';
          }
        }
        .no1_artist{
          @include font(20px, bold);
          @include text;
          padding-top: 20px;
        }
        .no1_box{
          margin-top: 36px;
          @include flex($j:null, $a:null, $d: column);
          >div{
            @include flex;
            height: 45px;
            &:first-child{
              border-bottom: 1px solid $gray_color;
              .date{
                @include font($c:$black_color_second, $f:'poppins');
              }
              .long{
                @include font(20px, bold, $main-color);
              }
            }
            &:last-child{
              div{
                @include font($c:$main-color, $f:'poppins');
                height: 40px;
                display: flex;
                span{
                  @include size(25px, 25px);
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      .chart_list{
        @include position(0, 465px);
        @include size(1070px);
        .chart_list_title{
          @include position(-42px, 60px);
          display: flex;
          font-weight: bold;
          li{
            &:nth-child(1){
              margin-right: 90px;
            }
            &:nth-child(2){
              margin-right: 284px;
            }
            &:nth-child(3){
              margin-right: 144px;
            }
          }
        }
        .chart_list_list{
          @include size;
          overflow-y: scroll;
          
          .chart_lists{
            @include size(100%, 50px);
            @include flex($j:null);
            background: #f5f5f5;
            color: $black_color_second;
            border-radius: 14px;
            padding: 0 18px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover{
              background-color: #4be274;
              color: #fff;
            }
            >ul{
              @include flex;
              width: 100%;
              .updown{
                @include font(12px, bold);
                width: 20px;
                margin-right: 18px;
                &.down{
                  color: red;
                  img{
                    @include size(10px, 7px);
                    vertical-align: middle;
                    margin-right: 1px;
                  }
                }
                &.up{
                  color: blue;
                  img{
                    @include size(10px, 7px);
                    vertical-align: middle;
                    margin-right: 1px;
                  }
                }
                &.normal{
                  img{
                    @include size(18px, 2px);
                    vertical-align: middle;
                  }
                }
              }
              @mixin chart_list($w, $m) {
                width: $w;
                margin-right: $m;
              }
              .rank{
                @include font(18px, $f:'poppins');
                @include chart_list(20px, 30px);
              }
              .chart_art{
                @include chart_list(null, 24px);
                @include size(36px, 36px);
                border-radius: 4px;
              }
              .chart_songs{
                @include font(16px, bold);
                @include text;
                @include chart_list(278px, 24px);
              }
              .chart_artist{
                @include chart_list(120px, 70px);
                @include text;
              }
              .chart_album{
                @include chart_list(260px, 24px);
                @include text;
              }
            }
          }
        }
      }
    }
    .play_icon{
      @include size(80px, 20px);
      @include flex;
      li:last-child{
        height: 5px;
      }
    }
  }
}
#wrap_trend{
  z-index: 2;
  .trend{
    padding: 100px 80px;
    width: 1680px;
    .toggle_btn{
      @include size(120px, 30px);
      @include flex($a:null);
      position: absolute;
      
      .left{
        @include size(18px,30px);
        @include arrow(left);
      }
      .right{
        @include size(18px, 30px);
        @include arrow(right);
      }
    }
    .trend_title{
      p{
        color: #c7c7c7;
      }
    }
    .trend_main{
      @include position(0, 0, relative);
      width: 100%;
      .toggle_btn{
        @include position(0, 50%);
        transform: translateX(-50%);
      }
      .trend_slide{
        @include position(40px, 0);
        @include size(100%, 400px);
        .trend_imgs{
          li{
            @include position(50%, null);
            @include size(700px, 400px);
            transition: 1s;
            transform: translate(0,-50%) scale(0.8);
            &.trend_0{
              z-index: 3;
              left: 50%;
              transform: translate(-50%,-50%) scale(1);
              .trend_img_texts{
                width: 340px;
                line-height: 60px;
              }
              .trend_play_btn{
                display: block;
              }
            }
            &.trend_1{
              filter: blur(4px);
              z-index: 0;
              left: -70px;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                h2{
                  font-size: 30px;
                }
              }
            }
            &.trend_2{
              filter: blur(4px);
              z-index: 0;
              left: 870px;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                left: 240px;
                h2{
                  font-size: 30px;
                }
              }
            }
            .trend_img_texts{
              @include position($l:30px, $b:30px);
              h2{
                @include font(50px, bold, #fff);
              }
              p{
                @include font(18px, bold, $gray_color);
              }
            }
            .trend_play_btn{
              @include size(200px, 60px);
              @include position($r:30px, $b:30px);
            }
          }
        }
      }
    }
    .trend_songs{
      @include position(480px, 0, relative);
      width: 100%;
      .trend_songs_title{
        position: relative;
        h3{
          @include font(30px, bold, $black_color_second);
        }
        .toggle_btn{
          @include position(10px, $r:0, $p:null);
          width: 80px;
        }
      }
      .trend_list_slide{
        @include size(100%, 250px);
        margin-top: 20px;
        overflow: hidden;
        .trend_songs_list{
          @include position(0, 0, relative);
          @include flex($a:null);
        }
        li{
          @include size(150px, 220px);
          @include flex($j:null, $d:column);
          position: relative;
          text-align: center;
          .trend_songs_art{
            @include size(150px, 150px);
            position: relative;
            box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
            >img{
              @include size;
            }
            &:hover{
              .black_bg{
                opacity: 1;
              }
            }
            .black_bg{
              opacity: 0;
              transition: 1s;
              .btn{
                @include position(50%, 50%);
                transform: translate(-50%, -50%);
                cursor: pointer;
              }
            }
          }
          .trend_songs_text{
            margin-top: 10px;
            h6{
              @include font(16px, bold, $black_color);
              @include text;
              @include size(150px, null);
            }
            p{
              @include text;
              @include size(150px,null);
              color: $black_color;
            }
          }
        }
      }
    }
  }
}
#wrap_podcast{
  z-index: 2;
  background-color: black;
  overflow: hidden;
  .page_toggle{
    @include size(20px, 34px);
    @include position(50%, null);
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    &.on{
      display: none;
    }
    &.left{
      left: 30px;
      opacity: 0.8;
      animation: toggle_move_left 2s infinite;
      @include arrow(left);
      &:hover{
        opacity: 1;
      }
    }
    &.right{
      right: 290px;
      opacity: 0.8;
      animation: toggle_move_right 2s infinite;
      @include arrow(right);
      &:hover{
        opacity: 1;
      }
    }
  }
  .podcast{
    @include size(1680*2px, 100vh);
    @include position(null, 0, relative);
    display: flex;
    transition: 1s;
    >li{
      @include size(50%);
      padding: 100px 80px;
      position: relative;
      &.on{
        .article{
          animation: artist_move 2s 1s forwards;
        }
      }
      &:nth-child(2){
        .article{
          left: 740px;
          img{
            @include size(940px, auto);
          }
          .blur{
            background: radial-gradient(circle, rgba(255,221,0,1) 0%, rgba(255,255,0,1) 100%);
          }
        }
      }
      .podcast_title{
        p{
          color: #c7c7c7;
        }
      }
      .article{
        @include position($l:800px, $b:-100%);
        .blur{
          @include position(65%, 55%);
          @include size(700px, 700px);
          transform: translate(-50%, -50%);
          background: radial-gradient(circle, rgba(219,37,232,1) 0%, rgba(238,8,130,1) 100%);
          border-radius: 50%;
          filter: blur(50px);
        }
        img{
          @include size(780px, auto);
          position: relative;
          z-index: 1;
        }
      }
      .podcast_main{
        @include position($l:80px, $b:100px);
        @include size(840px, null);
        z-index: 3;
        .podcast_text{
          h2{
            @include font(70px, bold, #fff);
            line-height: 80px;
            width: 600px;
          }
          p{
            @include font(18px, normal, $gray_color, 'poppins');
            margin-top: 20px;
          }
          .play_btn{
            margin-top: 50px;
            img{
              @include size(200px, 60px);
            }
          }
        }
        .recently{
          width: 100%;
          .recently_title{  
            @include flex($a:null);
            margin-top: 110px;
            h4{
              @include font(30px, bold, #fff, 'poppins');
            }
          }
          .contents{
            @include flex($a:null);
            margin-top: 20px;
            width: 100%;
            .recently_img{
              @include size(260px, 140px);
              border-radius: 12px;
              background: #ccc;
              box-shadow: 3px 3px 6px rgba(255,255,255,0.5);
            }
            p{
              margin-top: 20px;
              color: #eee;
            }
          }
        }
      }
    }
  }
}
#wrap_musicvideo{
  z-index: 2;
  .musicvideo{
    position: relative;
    padding: 100px 80px;
    width: 1680px;
    .musicvideo_title{
      position: relative;
      z-index: 1;
      p{
        color: #c7c7c7;
      }
    }
    .musicvideo_main{
      @include position(0, 0);
      @include size(100%, 650px);
      background: #fff;
      z-index: 0;
      .video_play{
        @include size;
        video{
          @include size;
          object-fit: cover;
        }
        .movie_controler{
          @include position($b:0, $l:0);
          @include size(100%, 10px);
          background: #eee;
          .movie_underbar{
            @include size(0);
            background: $main_gradient2;
            transition: 1s;
          }
        }
        .mute_btn, .muteX_btn{
          @include size(30px, 30px);
          @include position($l:80px, $b:30px);
          cursor: pointer;
          opacity: 0;
          img{
            vertical-align: middle;
          }
        }
        .muteX_btn{
          display: none;
        }
        .black_bg{
          opacity: 0;
          height: 640px;
        }
        &:hover {
          .black_bg{
            opacity: 1;
          }
          .mouseover{
          opacity: 0.8;
          }
        }
        .musicvideo_albumart{
          @include size(200px, 200px);
          @include position(240px, 80px);
          opacity: 0;
          transition: 1s;
          img{
            @include size;
          }
        }
        .musicvideo_text{
          @include position(240px, 340px);
          opacity: 0;
          transition: 1s;
          h2{
            @include font(50px, bold, #fff, 'poppins');
          }
          p{
            @include font(20px, bold, #eee);
          }
        }
        .video_play_btn{
          display: none;
        }
        .video_play_btn, .video_stop_btn{
          @include position(50%, 50%);
          transform: translate(-50%,-50%);
          opacity: 0;
          transition: 1s;
          cursor: pointer;
          img{
            @include size(40px, 40px);
          }
        }
      } 
    }
    .popular_video{
      @include position(670px, 80px);
      .popular_video_title{
        @include flex;
        width: 320px;
        h5{
          @include font(30px, bold, $black_color_second);
        }
        ul{
          @include size(80px, 15px);
          @include flex($a:null);
          color: #c7c7c7;
          line-height: 15px;
          li{
            cursor: pointer;
            &:first-child{
              padding-right: 10px;
              border-right: 1px solid #c7c7c7;
              color: $main_color;
            }
          }
        }
      }
      .popular_video_list{
        @include flex($a:null);
        margin-top: 24px;
        width: 1520px;
        .videos{
          @include size(220px, 120px);
          .snapshot{
            cursor: pointer;
            @include size(100%, 120px);
            position: relative;
            border-radius: 12px;
            background: #ccc;
            overflow: hidden;
            transition: 1s;
            &:hover{
              transform: scale(1.2);
              z-index: 2;
            }
            video{
              @include size(200px, 120px);
              object-fit: cover;
            }
            .black_bg{
              border-radius: 12px;
            }
          }
          .text{
            position: relative;
            margin-top: 10px;
            h6{
              @include font(18px, bold, $black_color_second);
            }
            p{
              color: $gray_color;
            }
            .more_btn{
              @include position(50%, $r:10px);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
#wrap_melondj{
  z-index: 2;
  .dj{
    padding: 100px 80px;
    width: 1680px;
    .dj_title{
      p{
        color: #c7c7c7;
      }
    }
    .dj_main{
      @include size(100%, 500px);
      .dj_main_ul{
        margin-top: 30px;
        display: flex;
        height: 100%;
        overflow: hidden;
        .dj_lists{
          @include size(17%);
          transition: 0.5s;
          position: relative;
          background: #ddd;
          .black_bg{
            background: rgba(0,0,0,0.6);
          }
          .dj_main_text{
            @include position($l:25px, $b:50px);
            .main_tags{
              span{
                color: $main_color;
                padding: 5px;
              }
            }
            h2{
              @include font(20px, bold, #eee);
              margin: 10px 0;
              height: 70px;
            }
            .dj_play_btn{
              display: none;
            }
            .dj_sub_text{
              p{
                display: none;
              }
              ul{
                display: flex;
                li{
                  color:$white_color_second;
                  &:first-child{
                    color: $main_color;
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid #ccc;
                    img{
                      vertical-align: middle;
                      height: 14px;
                    }
                  }
                }
              }
            }
          }
          &.on{
            width: 34%;
            .black_bg{
              background: rgba(0,0,0,0.4);
            }
            .dj_main_text{
              width: 280px;
              left: 50px;
              .main_tags{
                span{
                  padding: 0 10px;
                  border: 2px solid $main_color;
                  border-radius: 50px;
                  color: #fff;
                  margin-right: 10px;
                }
              }
              h2{
                font-size: 30px;
                margin-bottom: 30px;
              }
              p{
                @include font(16px, null, $gray_color);
                display: block;
              }
              .dj_play_btn{
                @include position(50px, $r:-120px);
                display: block;
                cursor: pointer;
                img{
                  @include size(50px, 50px);
                }
              }
              ul{
                @include position(0, 0);
              }
            }
          }
        }
      }
    }
    .popular_dj{
      margin-top: 60px;
      .popular_dj_title{
        h5{
          @include font(24px, bold, $black_color_second);
        }
      }
      .popular_dj_list{
        @include position(20px, 0, relative);
        @include flex($a:null);
        >li{
          display: flex;
          .dj_art{
            @include size(100px, 100px);
            position: relative;
            border-radius: 50%;
            box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
            img{
              @include size;
              border-radius: 50%;
            }
          }
          .dj_text{
            width: 210px;
            margin-left: 15px;
            position: relative;
            .tags{
              span{
                border: 1px solid $main_color;
                font-size: 10px;
                padding: 0 5px;
                border-radius: 50px;
              }
            }
            h2{
              @include font(14px, bold);
              margin: 10px 0;
              height: 40px;
              line-height: 20px;
            }
            p{
              @include font(10px, null, $gray_color);
            }
            ul{
              @include position($r:0, $b:0);
              display: flex;
              font-size: 10px;
              li{
                &:first-child{
                  color: $main_color;
                  padding-right: 10px;
                  margin-right: 10px;
                  border-right: 1px solid #ccc;
                  img{
                    vertical-align: middle;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
