$main_color:#00D63B;
$black_color:#707070;
$gray_color:#BEBDBD;
$white_color:#F9F9F9;
$white_color_second:#EEEEEE;
$black_color_second:#3d3d3d;
$main_gradient: linear-gradient(180deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
$main_gradient2: linear-gradient(90deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
@keyframes artist_move{
  from{
    bottom: -100%;
  }
  to{
    bottom: 0px;
  }
}
@keyframes artist_text{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.9;
  }
}
@keyframes album_change{
  from{
    opacity: 0.5;
    transform: scale(0.6);
  }
  to{
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes album_small{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.6);
  }
}
@keyframes toggle_move_top{
  0%{
    top: 16px;
  }
  50%{
    top: 30px;
  }
  100%{
    top: 16px;
  }
}
@keyframes toggle_move_bottom{
  0%{
    bottom: 16px;
  }
  50%{
    bottom: 30px;
  }
  100%{
    bottom: 16px;
  }
}
@keyframes toggle_move_left{
  0%{
    left: 30px;
  }
  50%{
    left: 20px;
  }
  100%{
    left: 30px;
  }
}
@keyframes toggle_move_right{
  0%{
    right: 290px;
  }
  50%{
    right: 280px;
  }
  100%{
    right: 290px;
  }
}
::-webkit-scrollbar{
  width: 10px;
  &-track{
    background-color: transparent;
  }
  &-thumb{
    border-radius: 5px;
    background-color: #BEBDBD;
    &:hover{
      background-color: $black_color;
    }
  }
}
body{
  font-family: 'noto sans kr','poppins',sans-serif;
  font-size: 14px;
  color: $black_color;
  overflow: hidden;
  max-width: 1920px;
  min-width: 1920px;
  
}
.sub_title{
  font-size: 28px;
  font-weight: bold;
  font-family: "poppins";
  color: $main_color;
}
.black_bg{
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
header{
  width: 1520px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 240+80px;
  top: 40px;
  z-index: 10;
  .search_bar{
    width: 593px;
    height: 35px;
    border-radius: 20px;
    background: $white_color_second;
    padding: 6px 20px;
    position: relative;
    opacity: 0.3;
    input{
      background: none;
      width: 80%;
      color: $black_color_second;
    }
    .search_icon{
      position: absolute;
      width: 20px;
      height: 20px;
      right: 17px;
      top: 8px;
      background: url(../img/icons/seacrh.png) center center no-repeat;
      background-size: cover;
    }
  }
  .alarm_menu{
    display: flex;
    align-items: center;
    .alert{
      width: 30px;
      height: 30px;
      background: url(../img/icons/alarm.png) center center no-repeat;
      background-size: cover;
      margin-right: 15px;
    }
    .profile{
      width: 50px;
      height: 50px;
      background: url(../img/profile.png) center center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }
}
aside{
  position: fixed;
  width: 240px;
  height: 100vh;
  background: #eee;
  .menu{
    padding: 30px 40px;
    position: relative;
    .menu_bg{
      width: 180px;
      height: 36px;
      border-radius: 12px;
      background: #4be274;
      position: absolute;
      top: 74px;
      left: 20px;
      transition: 0.5s;
    }
    h1{
      margin-bottom: 35px;
      height: 20px;
      font-size: 0;
      background: url(../img/logo.png) left center no-repeat;
      background-size: contain;
    }
    img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .main_menu{
      li{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 22px;
        position: relative;
        z-index: 1;
        transition: 0.5s;
        padding-left: 30px;
        cursor: pointer;
        span{
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: -4px;
          background: black;
        }
        &.on{
          color: #fff;
        }
        &:hover{
          color: #fff;
        }
        &:nth-child(1){
          &:hover span, &.on span{
            background: url(../img/icons/icon_1w.png);
          }
          span{
            background: url(../img/icons/icon_1.png);
          }
        }
        &:nth-child(2){
          &:hover span, &.on span{
            background: url(../img/icons/icon_2w.png);
          }
          span{
            background: url(../img/icons/icon_2.png);
          }
        }
        &:nth-child(3){
          &:hover span, &.on span{
            background: url(../img/icons/icon_3w.png);
          }
          span{
            background: url(../img/icons/icon_3.png);
          }
        }
        &:nth-child(4){
          &:hover span, &.on span{
            background: url(../img/icons/icon_4w.png);
          }
          span{
            background: url(../img/icons/icon_4.png);
          }
        }
        &:nth-child(5){
          &:hover span, &.on span{
            background: url(../img/icons/icon_5w.png);
          }
          span{
            background: url(../img/icons/icon_5.png);
          }
        }
        &:nth-child(6){
          margin-bottom: 0;
          &:hover span, &.on span{
            background: url(../img/icons/icon_6w.png);
          }
          span{
            background: url(../img/icons/icon_6.png);
          }
        }
      }
    }
    .my_menu{
      font-size: 14px;
      font-weight: bold; 
      margin-top: 40px;
      li{
        font-size: 12px;
        font-weight: normal;
        margin-top: 24px;
      }
    }
  }
  .now_playing{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
    .player_bg{
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;;
      background-position: center center; 
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(20px);
      background-image: url(../img/album_art/iu.jpg);
    }
    .player{
      position: relative;
      z-index: 2;
      h5{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 17px;
      }
      .album_art{
        width: 180px;
        height: 180px;
        border-radius: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        img{
          width : 100%;
          height: 100%;
        }
      }
      .song_title{
        font-size: 18px;
        font-weight: bold;
        color: $black_color_second;
      }
      .song_artist, .song_album{
        font-size: 12px;
      }
      .play_btn{
        display: flex;
        width: 107px;
        height: 30px;
        margin: 15px auto;
        justify-content: space-between;
        align-items: center;
        img{
          width: 100%;
        }
        .start_btn, .stop_btn{
          width: 30px;
          height: 30px;
        }
        .stop_btn{
          display: none;
        }
        .prev_btn{
          width: 20px;
          height: 20px;
        }
        .next_btn{
          width: 20px;
          height: 20px;
        }
      }
      .status_bar{
        width: 100%;
        height: 8px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 30px;
        div{
          width: 0;
          height: 100%;
          background: $main-color;
          transition: 0.5s;
        }
      }
    }
  }
}
#wrap_home{ 
  position: relative;
  left: 240px;
  width: 1920 - 240px;
  .page_toggle{
    span{
      position: fixed;
      display: block;
      width: 60px;
      height: 34px;
      z-index: 4;
      margin-left: 120px;
      cursor: pointer;
      &.top{
        display: none;
        top: 16px;
        left: 50% ;
        transform: translateX(-50%);
        background: url(../img/icons/arrow_top.png) center center no-repeat;
        background-size: cover;
        animation: toggle_move_top 2s infinite;
        &:hover{
          background: url(../img/icons/arrow_top_green.png) center center no-repeat;
        }
      }
      &.bottom{
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        background: url(../img/icons/arrow_bottom.png) center center no-repeat;
        background-size: cover;
        animation: toggle_move_bottom 2s infinite;
        &:hover{
          background: url(../img/icons/arrow_bottom_green.png) center center no-repeat;
        }
      }
    }
  }
  section{
    height: 100vh;
    left: 0;
    width: 1920px - 240px;
    position: relative;
    &.visual{
      position: relative;
      .visual_group{
        width: 100%;
        height: 100%;
        li{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          transition: 2s;
          overflow: hidden;
          &:nth-child(1){
            opacity: 1;
            .visual_img{
              background: url(../img/visual2.jpeg) top center no-repeat;
              background-size: cover;
            }
          }
          &:nth-child(2){
            opacity: 0;
            .visual_img{
              background: url(../img/visual1.jpeg) center center no-repeat;
              background-size: cover;
            }
          }
          &:nth-child(3){
            opacity: 0;
            .visual_img{
              background: url(../img/visual3.jpeg) center center no-repeat;
              background-size: cover;
            }
          }
          // &:nth-child(4){
          //   opacity: 0;
          //   .visual_img{
          //     background: url(../img/visual4.jpeg) center center no-repeat;
          //     background-size: cover;
          //   }
          // }
          .visual_img{
            width: 100%;
            height: 100%;
          }
          .visual_text{
            position: absolute;
            width: 100%;
            top: 160px;
            left: 80px;
            h2{
              overflow: hidden;
              position: absolute;
              font-size: 60px;
              font-weight: bold;
              color: $white_color;
              line-height: 80px;
              left: 0;
              margin-bottom: 20px;
            }
            p{
              color: $white_color_second;
              position: absolute;
              top: 220px;
              left: 0;
            }
          }
        }  
      }
      .sub_visual{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 90px;
        left: 80px;
        width: 1530px;
        height: 290px;
        overflow: hidden;
        li{
          position: relative;
          top: 0;
          left: 0;;
          border-radius: 20px;
          width: 470px;
          height: 290px;
          box-shadow: 0 3px 6px rgba(0,0,0,0.4);
          position: relative;
          transition: 1s;
          opacity: 0.8;
          transform: scale(0.8);
          cursor: pointer;
          &:hover{
            opacity: 1;
            transform: scale(1);
          }
          &.on{
            opacity: 1;
            transform: scale(1);
          }
          .black_bg{
            border-radius: 20px;
            background: rgba(0,0,0,0.1);
          }
          .sub_visual_text{
            position: absolute;
            padding: 20px;
            bottom: 5px;
            left: 0;
            h4{
              font-family: "poppins";
              font-weight: bold;
              font-size: 30px;
              color: $white_color;
            }
            p{
              font-family: "noto sans kr";
              font-size: 24px;
              color: #eee;
            }
          }
          &:nth-child(1){
            background: url(../img/visual2.jpeg) center center no-repeat;
            background-size: cover;
          }
          &:nth-child(2){
            background: url(../img/visual1.jpeg)center center no-repeat;
            background-size: cover;
          }
          &:nth-child(3){
            background: url(../img/visual3.jpeg)center center no-repeat;
            background-size: cover;
          }
          // &:nth-child(4){
          //   background: url(../img/visual4.jpeg)top center no-repeat;
          //   background-size: cover;
          // }
        }
      }
    }
    &.new_album{
      overflow: hidden;
      .new_albums{
        height: 100%;
        width: 100%;
        position: absolute;
        left:0;
        top: 0;
        li{
          .black_bg{
            background: rgba(0,0,0,0.2);
          }
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left: 0;
          opacity: 0;
          transition: 2s;
          &.on{
            opacity: 1;
            z-index: 1;
          }
          &.album01{
            background: url(../img/new_album.jpg) top center no-repeat;
            background-size: cover;
          }
          &.album02{
            background: url(../img/new_album2.jpg) top center no-repeat;
            background-size: cover;
          }
          &.album03{
            background: url(../img/new_album3.jpg) center center no-repeat;
            background-size: cover;
          }
          &.album04{
            background: url(../img/new_album4.jpg) center center no-repeat;
            background-size: cover;
          }
        }
        .new_album_text{
          position: absolute;
          left: 80px;
          top: 240px;
          opacity: 0.7;
          &:hover{
            opacity: 1;
          }
          h2{
            font-family: "poppins";
            font-size: 70px;
            font-weight: bold;
            color: #fff;
            position: relative;
            left: -4px;
            top: 10px;
            line-height: 90px;
          }
          p{
            font-size: 24px;
            font-weight: bold;
            color: $white_color;
          }
          .play_btn{
            cursor: pointer;
            width: 200px;
            height: 60px;
            margin-top: 80px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      
      .album_slide{
        width: 760px;
        height: 480px;
        position: absolute;
        left: 900px;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 2;
        ul{
          position: absolute;
          left:0;
          top:0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: 1s;
          li{
            img{
              width: 100%;
              height: 100%;
            }
            width: 480px;
            height: 480px;
            opacity: 0.5;
            &.on{
              animation: album_change 1s forwards;
            }
            &.off{
              animation: album_small 1s forwards;
            }
          }
        }
      }
      .toggle_btn{
        position: absolute;
        width: 134px;
        height: 60px;
        top: 150px;
        left: 900px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        span{
          width: 35px;
          height: 60px;
          cursor: pointer;
          &:first-child{
            background: url(../img/icons/arrow_left.png) left center no-repeat;
            background-size: cover;
            &:hover{
              background: url(../img/icons/arrow_left_green.png) left center no-repeat;
              background-size: cover;
            }
          }
          &:last-child{
            background: url(../img/icons/arrow_right.png) right center no-repeat;
            background-size: cover;
            &:hover{
              background: url(../img/icons/arrow_right_green.png) left center no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
    &.artist{
      background: url(../img/artist_bg.jpg) center center no-repeat;
      background-size: cover;
      &.on{
        .artist_img{
          animation: artist_move 2s forwards;
        }
        .artist_text{
          animation: artist_text 1s 1s forwards;
        }
        .popular_song{
          animation: artist_text 1s 2s forwards;
        }
        .popular_album{
          animation: artist_text 1s 3s forwards;
        }
      }
      .artist_img{
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 829px;
        height: 1180px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .artist_text{
        position: absolute;
        bottom: 285px;
        left: 180px;
        z-index: 2;
        opacity: 0;
        h3{
          font-family: "noto sans kr";
          font-size: 30px;
          font-weight: bold;
        }
        h2{
          font-size: 100px;
          font-weight: bold;
          color: #fff;
        }
      }
      .artist_list{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 741px;
        height: 840px;
        h4{
          font-size: 24px;
          font-weight: bold;
          color: #fff;
        }
        .popular_song{
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 520px;
          height: 450px;
          .popular_song_title{
            color: #fff;
            display: flex;
            justify-content: space-between;
            ul{
              width: 110px;
              justify-content: space-between;
              display: flex;
              height: 40px;
              img{
                width: 15px;
                height: 15px;
              }
              li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                width: 40px;
                height: 40px;
                span{
                  width: 50px;
                }
              }
            }
          }
          .popular_song_list{
            overflow-y: scroll;
            width: 520px;
            height: 360px;
            li{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px 8px 14px;
              border-bottom: 1px solid #ccc;
              .popular_song_songs{
                display: flex;
                align-items: center;
                div{
                  width: 60px;
                  height: 60px;
                  border-radius: 4px;
                  overflow: hidden;
                  margin-right: 14px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                p{
                  font-weight: bold;
                  color: $black_color_second;
                  font-size: 18px;
                  line-height: 28px;
                  color: #fff;
                  span{
                    font-weight: normal;
                    font-size: 14px;
                    color:#ccc;
                  }
                }
              }
              .popular_song_btn{
                img{
                  vertical-align: middle;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .popular_album{
          opacity: 0;
          width: 100%;
          height: 284px;
          position: absolute;
          bottom: 100px;
          right: 0;
          ul{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            li{
              width: 180px;
              margin-right: 40px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .popular_album_art{
                width: 142px;
                height: 142px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                margin-bottom: 20px;
                div{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background: #ccc;
                  position: absolute;
                  top:50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                }
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .popular_album_song{
                text-align: center;
                color: #eee;
                h6{
                  font-size: 20px;
                  height: 50px;
                  line-height: 24px;
                  font-weight: bold;
                }
                p{
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    &.magazine{
      background: #000;
      overflow: hidden;
      display: flex;
      .magazine_text{
        width: 50%;
        height: 100%;
        position: relative;
        .scroll_bar{
            border-radius: 25px;
            width: 10px;
            height: 450px;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid #ccc;
            div{
              background: $main_gradient;
              width: 100%;
              height: 25%;
              border-radius: 25px;
              transition: 2s;
            }
        }
        .magazine_index{
          position: absolute;
          top: 240px;
          left: 180px;
          li{
            background: black;
            position: absolute;
            top:0;
            left:0;
            opacity: 0;
            transition: 1s;
            &:first-child{
              opacity: 1;
            }
            h3{
              font-family: 'noto sans kr';
              font-weight: bold;
              margin-bottom: 40px;
            }
            h6{
              font-size: 18px;
              font-weight: bold;
              color:#398B5A;
            }
            h2{
              font-size: 40px;
              font-weight: bold;
              color: #fff;
              margin-bottom: 60px;
            }
            p{
              color: #ccc;
              width: 550px;
            }
          }  
        }
      }
      .magazine_img{
        width: 50%;
        height: 100%;
        position: relative;
        ul{
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 400%;
          transition: 2s;
        }
        li{
          width: 100%;
          height: 100%;
          &:nth-child(1){
            background: url(../img/magazine1.jpg) center center no-repeat;
            background-size: cover;
          }
          &:nth-child(2){
            background: url(../img/magazine2.jpg) center center no-repeat;
            background-size: cover;
          }
          &:nth-child(3){
            background: url(../img/magazine3.jpg) center center no-repeat;
            background-size: cover;
          }
          &:nth-child(4){
            background: url(../img/magazine4.jpg) center center no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }  
}
.sub_menu{
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 100%;
  top: 0;
  transition: 1s;
  z-index: 5;
  &.on{
    left: 240px;
  }
}
#wrap_chart{
  width: 1920 - 240px;
  padding: 100px 80px;
  .chart{
    .chart_text{
      height: 105px;
      position: relative;
      p{
        color: #c7c7c7;
      }
      .chart_category{
        position: absolute;
        top: 48px;
        left: 455px;
        display: flex;
        li{
          color: #c7c7c7;
          line-height: 14px;
          margin-right: 15px;
          padding-left: 15px;
          border-left: 1px solid $gray_color;
          &:first-child{
            color: $main_color;
            border-left: 0px;
          }
        }
      }
    }
    .chart_main{
      position: relative;
      width: 100%;
      height: 650px;
      top: 40px;
      img{
        width: 100%;
        height: 100%;
      }
      .no1{
        width: 300px;
        height: 100%;
        .no1_art{
          width: 300px;
          height: 300px;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: -20px 20px 20px rgba(0,0,0,0.4);
        }
        .no1_title{
          padding-top: 30px;
          font-family: 'noto sans kr';
          font-size: 40px;
          font-weight: bold;
          line-height: 50px;
          height: 150px;
          width: 100%;
          color: $black_color_second;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          .number{
            font-family: 'poppins';
          }
        }
        .no1_artist{
          padding-top: 20px;
          font-weight: bold;
          font-size: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .no1_box{
          margin-top: 36px;
          display: flex;
          flex-direction: column;
          >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            &:first-child{
              border-bottom: 1px solid $gray_color;
              .date{
                font-family: "poppins";
                color: $black_color_second;
              }
              .long{
                font-size: 20px;
                font-weight: bold;
                color: $main_color;
              }
            }
            &:last-child{
              div{
                font-family: 'poppins';
                color: $main_color;
                height: 20px;
                display: flex;
                span{
                  width: 25px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
      .chart_list{
        position: absolute;
        top: 0;
        left: 465px;
        width: 1070px;
        height: 100%;
        .chart_list_title{
          display: flex;
          position: absolute;
          top: -42px;
          left: 60px;
          font-weight: bold;
          li{
            &:nth-child(1){
              margin-right: 90px;
            }
            &:nth-child(2){
              margin-right: 284px;
            }
            &:nth-child(3){
              margin-right: 144px;
            }
          }
        }
        .chart_list_list{
          width: 100%;
          height: 100%;
          overflow-y: scroll;
          
          .chart_lists{
            width: 100%;
            height: 50px;
            background: #f5f5f5;
            color: $black_color_second;
            font-family: 'noto sans kr';
            border-radius: 14px;
            display: flex;
            align-items: center;
            padding: 0 18px;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover{
              background-color: #4be274;
              color: #fff;
            }
            >ul{
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .updown{
                width: 20px;
                margin-right: 18px;
                font-size: 12;
                font-weight: bold;
                &.down{
                  color: red;
                  img{
                    width: 10px;
                    height: 7px;
                    vertical-align: middle;
                    margin-right: 1px;
                  }
                }
                &.up{
                  color: blue;
                  img{
                    width: 10px;
                    height: 7px;
                    vertical-align: middle;
                    margin-right: 1px;
                  }
                }
                &.normal{
                  img{
                    width: 18px;
                    height: 2px;
                    vertical-align: middle;
                  }
                }
              }
              .rank{
                font-family: 'poppins';
                width: 20px;
                font-size: 18px;
                margin-right: 30px;
              }
              .chart_art{
                width: 36px;
                height: 36px;
                border-radius: 4px;
                margin-right: 24px;
              }
              .chart_songs{
                font-size: 16px;
                font-weight: bold;
                width: 278px;
                margin-right: 24px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              .chart_artist{
                width: 120px;
                margin-right: 70px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              .chart_album{
                width: 260px;
                margin-right: 24px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .play_icon{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80px;
      height: 20px;
      li:last-child{
        height: 5px;
      }
    }
  }
}
#wrap_trend{
  z-index: 2;
  .trend{
    padding: 100px 80px;
    width: 1920 - 240px;
    .toggle_btn{
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 120px;
      height: 30px;
      .left{
        cursor: pointer;
        width: 18px;
        height: 30px;
        background: url(../img/icons/arrow_left.png) left center no-repeat;
        background-size: cover;
        &:hover{
          background: url(../img/icons/arrow_left_green.png) left center no-repeat;
          background-size: cover;
        }
      }
      .right{
        cursor: pointer;
        width: 18px;
        height: 30px;
        background: url(../img/icons/arrow_right.png) right center no-repeat;
        background-size: cover;
        &:hover{
          background: url(../img/icons/arrow_right_green.png) right center no-repeat;
          background-size: cover;
        }
      }
    }
    .trend_title{
      p{
        color: #c7c7c7;
      }
    }
    .trend_main{
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      .toggle_btn{
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
      .trend_slide{
        position: absolute;
        width: 100%;
        height: 400px;
        top: 40px;
        left: 0;
        .trend_imgs{
          li{
            position: absolute;
            width: 700px;
            height: 400px;
            top: 50%;
            transition: 1s;
            transform: translate(0,-50%) scale(0.8);
            &.trend_0{
              z-index: 3;
              left: 50%;
              transform: translate(-50%,-50%) scale(1);
              .trend_img_texts{
                width: 340px;
                line-height: 60px;
              }
              .trend_play_btn{
                display: block;
              }
            }
            &.trend_1{
              filter: blur(4px);
              z-index: 0;
              left: -70px;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                h2{
                  font-size: 30px;
                }
              }
            }
            &.trend_2{
              filter: blur(4px);
              z-index: 0;
              left: 870px;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                left: 240px;
                h2{
                  font-size: 30px;
                }
              }
            }
            .trend_img_texts{
              position: absolute;
              left: 30px;
              bottom: 30px;
              h2{
                font-size: 50px;
                font-weight: bold;
                color: #fff;
              }
              p{
                font-size: 18px;
                font-weight: bold;
                color: $gray_color;
              }
            }
            .trend_play_btn{
              width: 200px;
              height: 60px;
              position: absolute;
              right: 30px;
              bottom: 30px;
            }
          }
        }
      }
    }
    .trend_songs{
      position: relative;
      top: 480px;
      left: 0;
      width: 100%;
      .trend_songs_title{
        position: relative;
        h3{
          font-size: 30px;
          font-weight: bold;
          color: $black_color_second;
        }
        .toggle_btn{
          width: 80px;
          right: 0;
          top: 10px;
        }
      }
      .trend_list_slide{
        margin-top: 20px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        .trend_songs_list{
          position: relative;
          left: 0;
          top:0;
          display: flex;
          justify-content: space-between;
        }
        li{
          position: relative;
          width: 150px;
          height: 220px;
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;
          .trend_songs_art{
            position: relative;
            width: 150px;
            height: 150px;
            box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
            >img{
              width: 150px;
              height: 150px;
            }
            &:hover{
              .black_bg{
                opacity: 1;
              }
            }
            .black_bg{
              opacity: 0;
              transition: 1s;
              .btn{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
              }
            }
          }
          .trend_songs_text{
            margin-top: 10px;
            h6{
              font-size: 16px;
              font-weight: bold;
              color: $black_color;
            }
            p{
              color: $black_color;
            }
          }
        }
      }
    }
  }
}
#wrap_podcast{
  z-index: 2;
  background-color: black;
  overflow: hidden;
  .page_toggle{
    width: 20px;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    &.on{
      display: none;
    }
    &.left{
      left: 30px;
      background: url(../img/icons/arrow_left.png) center center no-repeat;
      background-size: cover;
      opacity: 0.8;
      animation: toggle_move_left 2s infinite;
      &:hover{
        background: url(../img/icons/arrow_left_green.png) center center no-repeat;
        background-size: cover;
        opacity: 1;
      }
    }
    &.right{
      right: 290px;
      background: url(../img/icons/arrow_right.png) center center no-repeat;
      background-size: cover;
      opacity: 0.8;
      animation: toggle_move_right 2s infinite;
      &:hover{
        background: url(../img/icons/arrow_right_green.png) center center no-repeat;
        background-size: cover;
        opacity: 1;
      }
    }
  }
  .podcast{
    width: (1920 - 240)*2px;
    height: 100vh;
    position: relative;
    display: flex;
    transition: 1s;
    left: 0;
    >li{
      padding: 100px 80px;
      width: 50%;
      height: 100%;
      position: relative;
      &.on{
        .article{
          animation: artist_move 2s 1s forwards;
        }
      }
      &:nth-child(2){
        .article{
          left: 740px;
          img{
            width: 940px;
            height: auto;
          }
          .blur{
            background: radial-gradient(circle, rgba(255,221,0,1) 0%, rgba(255,255,0,1) 100%);
          }
        }
      }
      .podcast_title{
        p{
          color: #c7c7c7;
        }
      }
      .article{
        position: absolute;
        left: 800px;
        bottom: -100%;
        .blur{
          position: absolute;
          left: 55%;
          top: 65%;
          transform: translate(-50%, -50%);
          width: 700px;
          height: 700px;
          background: radial-gradient(circle, rgba(219,37,232,1) 0%, rgba(238,8,130,1) 100%);
          border-radius: 50%;
          filter: blur(50px);
        }
        img{
          position: relative;
          z-index: 1;
          width: 780px;
          height: auto;
        }
      }
      .podcast_main{
        position: absolute;
        left: 80px;
        bottom: 100px;
        width: 840px;
        z-index: 3;
        .podcast_text{
          h2{
            font-size: 70px;
            font-weight: bold;
            line-height: 80px;
            color:#fff;
            width: 600px;
          }
          p{
            margin-top: 20px;
            font-family: 'poppins';
            color: $gray_color;
            font-size: 18px;
          }
          .play_btn{
            margin-top: 50px;
            img{
              width: 200px;
              height: 60px;
            }
          }
        }
        .recently{
          width: 100%;
          .recently_title{  
            display: flex;
            justify-content: space-between;
            margin-top: 110px;
            h4{
              font-family: 'poppins';
              font-size: 30px;
              font-weight: bold;
              color: #fff;
            }
          }
          .contents{
            margin-top: 20px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .recently_img{
              width: 260px;
              height: 140px;
              border-radius: 12px;
              background: #ccc;
              box-shadow: 3px 3px 6px rgba(255,255,255,0.5);
            }
            p{
              margin-top: 20px;
              color: #eee;
            }
          }
        }
      }
    }
  }
}
#wrap_musicvideo{
  z-index: 2;
  .musicvideo{
    position: relative;
    padding: 100px 80px;
    width: 1920 - 240px;
    .musicvideo_title{
      position: relative;
      z-index: 1;
      p{
        color: #c7c7c7;
      }
    }
    .musicvideo_main{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 650px;
      background: #fff;
      z-index: 0;
      .video_play{
        width: 100%;
        height: 100%;
        video{
          object-fit: cover;
          width: 1680px;
          height: 650px;
        }
        .movie_controler{
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 10px;
          background: #eee;
          .movie_underbar{
            background: $main_gradient2;
            width: 0;
            height: 100%;
            transition: 1s;
          }
        }
        .mute_btn, .muteX_btn{
          width: 30px;
          height: 30px;
          position: absolute;
          left: 80px;
          bottom: 30px;
          cursor: pointer;
          opacity: 0;
          img{
            vertical-align: middle;
          }
        }
        .muteX_btn{
          display: none;
        }
        .black_bg{
          opacity: 0;
          height: 640px;
        }
        &:hover {
          .black_bg{
            opacity: 1;
          }
          .mouseover{
          opacity: 0.8;
          }
        }
        .musicvideo_albumart{
          width: 200px;
          height: 200px;
          position: absolute;
          top: 240px;
          left: 80px;
          opacity: 0;
          transition: 1s;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .musicvideo_text{
          position: absolute;
          left: 340px;
          top: 240px;
          opacity: 0;
          transition: 1s;
          h2{
            font-size: 50px;
            font-family: 'poppins';
            font-weight: bold;
            color: #fff;
          }
          p{
            font-size: 20px;
            font-weight: bold;
            color: #eee;
          }
        }
        .video_play_btn{
          display: none;
        }
        .video_play_btn, .video_stop_btn{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          opacity: 0;
          transition: 1s;
          cursor: pointer;
          img{
            width: 40px;
            height: 40px;
          }
        }
      } 
    }
    .popular_video{
      position: absolute;
      top: 670px;
      left: 80px;
      .popular_video_title{
        display: flex;
        width: 320px;
        justify-content: space-between;
        align-items: center;
        h5{
          font-size: 30px;
          font-weight: bold;
          color: $black_color_second;
        }
        ul{
          width: 80px;
          height: 15px;
          display: flex;
          justify-content: space-between;
          color: #c7c7c7;
          line-height: 15px;
          li{
            cursor: pointer;
            &:first-child{
              padding-right: 10px;
              border-right: 1px solid #c7c7c7;
              color: $main_color;
            }
          }
        }
      }
      .popular_video_list{
        margin-top: 24px;
        width: 1520px;
        display: flex;
        justify-content: space-between;
        .videos{
          width: 220px;
          height: 120px;
          .snapshot{
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 120px;
            border-radius: 12px;
            background: #ccc;
            overflow: hidden;
            transition: 1s;
            &:hover{
              transform: scale(1.2);
              z-index: 2;
            }
            video{
              width: 220px;
              height: 120px;
              object-fit: cover;
            }
            .black_bg{
              border-radius: 12px;
            }
          }
          .text{
            position: relative;
            margin-top: 10px;
            h6{
              font-size: 18px;
              font-weight: bold;
              color: $black_color_second;
            }
            p{
              color: $gray_color;
            }
            .more_btn{
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
#wrap_melondj{
  z-index: 2;
  .dj{
    padding: 100px 80px;
    width: 1920 - 240px;
    .dj_title{
      p{
        color: #c7c7c7;
      }
    }
    .dj_main{
      width: 100%;
      height: 500px;
      .dj_main_ul{
        margin-top: 30px;
        display: flex;
        height: 100%;
        overflow: hidden;
        .dj_lists{
          transition: 0.5s;
          width: 17%;
          position: relative;
          height: 100%;
          background: #ddd;
          .black_bg{
            background: rgba(0,0,0,0.6);
          }
          .dj_main_text{
            position: absolute;
            left: 25px;
            bottom: 50px;
            .main_tags{
              span{
                color: $main_color;
                padding: 5px;
              }
            }
            h2{
              margin: 10px 0;
              font-size: 20px;
              height: 70px;
              font-weight: bold;
              color: #eee;
            }
            .dj_play_btn{
              display: none;
            }
            .dj_sub_text{
              p{
                display: none;
              }
              ul{
                display: flex;
                li{
                  color:$white_color_second;
                  &:first-child{
                    color: $main_color;
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid #ccc;
                    img{
                      vertical-align: middle;
                      height: 14px;
                    }
                  }
                }
              }
            }
          }
          &.on{
            width: 34%;
            .black_bg{
              background: rgba(0,0,0,0.4);
            }
            .dj_main_text{
              width: 280px;
              left: 50px;
              .main_tags{
                span{
                  padding: 0 10px;
                  border: 2px solid $main_color;
                  border-radius: 50px;
                  color: #fff;
                  margin-right: 10px;
                }
              }
              h2{
                font-size: 30px;
                margin-bottom: 30px;
              }
              p{
                display: block;
                font-size: 16px;
                color: $gray_color;
              }
              .dj_play_btn{
                display: block;
                position: absolute;
                right: -120px;
                top: 50px;
                cursor: pointer;
                img{
                  width: 50px;
                  height: 50px;
                }
              }
              ul{
                position: absolute;
                right: 0px;
                bottom: 0px;
              }
            }
          }
        }
      }
    }
    .popular_dj{
      margin-top: 60px;
      .popular_dj_title{
        h5{
          font-size: 24px;
          font-weight: bold;
          color: $black_color_second;
        }
      }
      .popular_dj_list{
        position: relative;
        top: 20px;
        left: 0;
        display: flex;
        justify-content: space-between;
        >li{
          display: flex;
          .dj_art{
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .dj_text{
            width: 210px;
            margin-left: 15px;
            position: relative;
            .tags{
              span{
                border: 1px solid $main_color;
                font-size: 10px;
                padding: 0 5px;
                border-radius: 50px;
              }
            }
            h2{
              margin: 10px 0;
              font-size: 14px;
              height: 40px;
              line-height: 20px;
              font-weight: bold;
            }
            p{
              font-size: 10px;
              color: $gray_color;
            }
            ul{
              position: absolute;
              right: 0;
              bottom: 0;
              display: flex;
              font-size: 10px;
              li{
                &:first-child{
                  color: $main_color;
                  padding-right: 10px;
                  margin-right: 10px;
                  border-right: 1px solid #ccc;
                  img{
                    vertical-align: middle;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
