$main_color:#00D63B;
$black_color:#707070;
$gray_color:#BEBDBD;
$white_color:#F9F9F9;
$white_color_second:#EEEEEE;
$black_color_second:#3d3d3d;
$main_gradient: linear-gradient(180deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
$main_gradient2: linear-gradient(90deg, rgba(0,214,59,1) 0%, rgba(0,238,255,1) 100%);
$sub_width: 105rem;
$aside_width: 15rem;

@mixin small_window {
  @media (min-width: 0) and (max-width: 1400px){
    @content;
  }
};

@mixin font($s: 0.875rem, $w:normal, $c:null, $f:null){
  font-size: $s;
  font-weight: $w;
  font-family: $f;
  color : $c;
}
@mixin size($w:100%, $h:100%){
  width: $w;
  height: $h;
}
@mixin position($t:null ,$l:null, $p:absolute, $r:null ,$b:null){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
@mixin background($u:null, $d:center, $s:cover){
  background-image: url("../img/#{$u}");
  background-position: $d center;
  background-size: $s;
  background-repeat: no-repeat;
}
@mixin text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}
@mixin arrow ($direction){
  cursor: pointer;
  @include background('icons/arrow_#{$direction}.png', #{$direction});
  &:hover{
    @include background('icons/arrow_#{$direction}_green.png', #{$direction});
  }
}
@mixin flex ($j:space-between, $a:center, $d:null){
  display: flex;
  justify-content: $j;
  align-items : $a;
  flex-direction: $d;
}
@keyframes artist_move{
  from{
    bottom: -100%;
  }
  to{
    bottom: 0px;
  }
}
@keyframes artist_text{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.9;
  }
}
@keyframes album_change{
  from{
    opacity: 0.5;
    transform: scale(0.6);
  }
  to{
    opacity: 0.9;
    transform: scale(1);
  }
}
@keyframes album_small{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.6);
  }
}
@keyframes toggle_move_top{
  0%{
    top: 1rem;
  }
  50%{
    top: 1.875rem;
  }
  100%{
    top: 1rem;
  }
}
@keyframes toggle_move_bottom{
  0%{
    bottom: 1rem;
  }
  50%{
    bottom: 1.875rem;
  }
  100%{
    bottom: 1rem;
  }
}
@keyframes small_toggle_move{
  0%{
    bottom: 100px;
  }
  50%{
    bottom: 110px;
  }
  100%{
    bottom: 100px;
  }
}
@keyframes toggle_move_left{
  0%{
    left: 1.875rem;
  }
  50%{
    left: 1.25rem;
  }
  100%{
    left: 1.875rem;
  }
}
@keyframes toggle_move_right{
  0%{
    right: 18.13rem;
  }
  50%{
    right: 17.5rem;
  }
  100%{
    right: 18.13rem;
  }
}
@keyframes small_toggle_right{
  0%{
    right: 25px;
  }
  50%{
    right: 10px;
  }
  100%{
    right: 25px;
  }
}
::-webkit-scrollbar{
  width: 0.625rem;
  &-track{
    background-color: transparent;
  }
  &-thumb{
    border-radius: 0.3125rem;
    background-color: #BEBDBD;
    &:hover{
      background-color: $black_color;
    }
  }
}
html{
  font-size: 16px;
  @include small_window{
    font-size: 12px;
  }
}
body{
  font-family: 'noto sans kr','poppins',sans-serif;
  @include font(0.875rem);
  min-width: 1024px;
  max-width: 1920px;
  color: $black_color;
  overflow: hidden;
  @include small_window{
    width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
  }
  img{
    @include size;
  }
  .sub_menu{
    @include size;
    @include position(0, 110%);
    background: #fff;
    transition: 1s;
    z-index: 5;
    &.on{
      left: $aside_width;
      @include small_window{
        left: 0;
        @include size(100%)
      }
    }
  }
  .sub_main{
    padding: 6.25rem 5rem 5rem;
    @include size(105rem);
    position: relative;
    @include small_window{
      @include size(100%, 100%)
    }
  }
  .sub_menu_title{
    margin-bottom: 1.25rem;
    p{
      color: #c7c7c7;
    }
    @include small_window{
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  .sub_title{
    @include font(1.75rem, bold, $main_color, "poppins");
  }
  .black_bg{
    display: block;
    content: "";
    @include size;
    @include position(0, 0);
    background: rgba(0,0,0,0.5);
  }
}
header{
  @include size(95rem, 3.125rem);
  @include position(2.5rem, 20rem, fixed);
  @include flex;
  @include small_window{
    @include position(2.5rem, 10rem, fixed);
    width: 80%;
  }
  z-index: 10;
  .small_nav{
    display: none;
    @include small_window{
      display: block;
      .small_nav_wrap{
        @include flex;
        @include size(32px, 32px);      
        border-radius: 30px;
        background: rgba(255,255,255,0.8);
        transition: 1s;
        &:hover{
          width: 590px;
        }
        h1{
          @include font(0);
          @include size(30px, 30px);
          @include background("icons/small_logo.png");
        }
        ul{
          @include flex;
          transition: 1s;
          display: none;
          width: 510px;
          margin-left: 20px;
          margin-right: 20px;
          li{
            @include font(14px, null, $black_color, 'poppins');
            cursor: pointer;
            position: relative;
            &:hover{
              color: $main_color;
              font-weight: bold;
              span{
                width:50%;
              }
            }
            span{
              display: block;
              @include position($l:0, $b:0);              
              @include size(0, 3px);
              background: $main_gradient2;
              transition: 1s;
              border-radius: 50px;

            }
            &.on{
              color: $main_color;
              font-weight: bold;
              span{
                width:50%;
              }
            }
          }
        }
      }
    }
  }
  .search_bar{
    @include size(37.06rem, 2.188rem);
    @include position($p:relative);
    border-radius: 1.25rem;
    background: $white_color_second;
    padding: 0.375rem 1.25rem;
    opacity: 0.3;
    @include small_window{
      @include size(20rem, 2.188rem);
    }
    input{
      background: none;
      width: 80%;
      color: $black_color_second;
    }
    .search_icon{
      @include size(1.25rem, 1.25rem);
      @include position($r:1.063rem, $t:0.5rem);
      @include background("icons/search.png");
    }
  }
  .alarm_menu{
    @include flex($j: null);
    @include small_window{
     display: none; 
    }
    .alert{
      @include size(1.875rem, 1.875rem);
      @include background('icons/alarm.png');
      margin-right: 0.9375rem;
    }
    .profile{
      @include size(3.125rem, 3.125rem);
      @include background('profile.png');
      border-radius: 50%;
    }
  }
}
article{
  display: none;
  @include small_window{
      display: block;
      @include position($l:0, $b:0, $p:fixed);
      background: #fff;
      opacity: 0.8;
      padding: 15px 10rem;
      z-index: 10;
      @include size(100%, 80px);
      .player{
        @include size;
        ul{
          @include flex;
          li{
            @include flex;
            &:nth-child(1){
              .album_art{
                @include size(120px, 120px);
                @include position($l:10rem, $b:15px);
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 3px -3px 6px rgba(229, 229, 229, 0.8);
              }
              .now_playing_text{
                margin-left: 150px;
                .song_title{
                  @include font(18px, bold, $black_color_second);
                }
                .song_artist{
                  @include font(14px, null, #707070);
                }
              }
            }
            &:nth-child(2){
              @include flex(center, center, column);
              margin-right: 100px;
              .play_btn{
                $btn_size: 25px;
                @include size(106px, $btn_size);
                @include flex;
                .start_btn, .stop_btn{
                  @include size($btn_size, $btn_size);
                }
                .stop_btn{
                  display: none;
                }
                .prev_btn, .next_btn{
                  @include size(20px, 20px);
                }
              }
              .status_bar{
                margin-top: 10px;
                @include size(300px, 8px);
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 20px;
                  div{
                    @include size(0, 100%);
                    background: $main_gradient2;
                    border-radius: 20px;
                    transition: 0.5s;
                  }
                }
            }
            &:nth-child(3){
              .sub{
                @include flex;
                @include size(80px, 20px);
                margin-right: 20px;
                span{
                  @include size(20px, 20px);
                  &:nth-child(3){
                    @include size(20px, 18px);
                  }
                }
              }
              .profile{
                @include size(50px, 50px);
              }
            }
          }
        }
      }
  }
}
aside{
  @include small_window{
   display: none;
  }
  @include position($p:fixed);
  @include size($aside_width, 100vh);
  background: #eee;
  .menu{
    padding: 1.875rem 2.5rem;
    @include position($p:relative);
    .menu_bg{
      @include size(11.25rem, 2.25rem);
      @include position(4.625rem, 1.25rem);
      border-radius: 0.75rem;
      background: #4be274;
      transition: 0.5s;
    }
    h1{
      margin-bottom: 2.188rem;
      height: 1.25rem;
      @include font(0);
      @include background('logo.png', left, contain);
    }
    img{
      @include size(1.25rem, 1.25rem);
      margin-right: 0.625rem;
      vertical-align: middle;
    }
    .main_menu{
      li{
        position: relative;
        line-height: 0.75rem;
        @include font(0.75rem);
        z-index: 1;
        transition: 0.5s;
        margin-bottom: 1.375rem;
        padding-left: 1.875rem;
        cursor: pointer;
        span{
          content: "";
          display: block;
          @include size(1.25rem, 1.25rem);
          @include position(0, -0.25rem);
        }
        &.on{
          color: #fff;
        }
        &:hover{
          color: #fff;
        }
        @for $i from 1 to 7{
          &:nth-child(#{$i}){
            &:hover span, &.on span{
              @include background('icons/icon_#{$i}w.png');
            }
            span{
              @include background('icons/icon_#{$i}.png');
            }
          }
        }
      }
    } 
    .my_menu{
      @include font(0.875rem, bold);
      margin-top: 2.5rem;
      li{
        @include font(0.75rem);
        margin-top: 1.5rem;
      }
    }
  }
  .now_playing{
    @include position($l:0, $b:0);
    @include size(100%, 25rem);
    @include flex(center, center,column);
    background-size: cover;
    padding: 1.25rem 1.563rem;
    .player_bg{
      @include size;
      @include position(0, 0);
      @include background('album_art/iu.jpg');
      display: block;
      content: "";
      filter: blur(1.25rem);
    }
    .player{
      @include position($p:relative);
      text-align: center;
      z-index: 2;
      h5{
        @include font(1.125rem, bold, #fff);
        margin-bottom: 1.063rem;
      }
      .album_art{
        @include size(11.25rem, 11.25rem);
        border-radius: 1.25rem;
        margin-bottom: 0.625rem;
        overflow: hidden;
        img{
          @include size;
        }
      }
      .song_title{
        @include font(1.125rem, bold, $black_color_second);
      }
      .song_artist, .song_album{
        @include font(0.75rem);
      }
      .play_btn{
        @include size(6.688rem, 1.875rem);
        @include flex;
        margin: 0.9375rem auto;
        .start_btn, .stop_btn{
          @include size(1.875rem, 1.875rem);
        }
        .stop_btn{
          display: none;
        }
        .prev_btn, .next_btn{
          @include size(1.25rem, 1.25rem);
        }
      }
        .status_bar{
        @include size(100%, 0.5rem);
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 1.875rem;
          div{
            @include size(0, 100%);
            background: $main-color;
            transition: 0.5s;
          }
        }
    }
  }
}

#wrap_home{ 
  @include position($p:relative, $l:$aside_width);
  width: $sub_width;
  @include small_window{
    @include position(0, 0, relative);
    width: 100%;
  }
  .page_toggle{
    span{
      @include position($p:fixed);
      @include size(3.75rem, 2.125rem);
      display: block;
      z-index: 4;
      margin-left: 7.5rem;
      @include small_window{
        @include size(30px, 17px);
        margin-left: 0;
      }
      &.top{
        @include arrow(top);
        @include position(1rem, 50%, null);
        display: none;
        transform: translateX(-50%);
        animation: toggle_move_top 2s infinite;
      }
      &.bottom{
        @include arrow(bottom);
        @include position($b:1rem, $l:50%, $p:null);
        transform: translateX(-50%);
        animation: toggle_move_bottom 2s infinite;
        @include small_window{
          @include position($b:140px, $l:50%, $p:null);
          animation: small_toggle_move 2s infinite;
        }
      }
    }
  }
  section{
    @include size(105rem, 100vh);
    @include position($p:relative, $l:0);
    @include small_window{
      @include size(100%, 100vh);
    }
    &.visual{
      .visual_group{
        @include size;
        li{
          @include position(0, 0);
          @include size;
          transition: 2s;
          overflow: hidden;
          @for $i from 1 to 4{
            &:nth-child(#{$i}){
              opacity: 0;
              .visual_img{
                @include background('visual#{$i}.jpeg');
                @include size;
              }
            }
          }
          &:nth-child(1){
            opacity: 1;
          }
          .visual_text{
            @include position(13.75rem, 5rem);
            width: 100%;
            h2{
              @include position($l:0);
              @include font(3.75rem,bold,$white_color);
              overflow: hidden;
              line-height: 5rem;
              margin-bottom: 1.25rem;
            }
            p{
              @include position(13.75rem, 0);
              color: $white_color_second;
            }
          }
        }  
      }
      .sub_visual{
        @include position($l:5rem, $b:5.625rem);
        @include size(95.63rem, 18.13rem);
        @include flex($d:null);
        overflow: hidden;
        @include small_window{
          @include position($l:5rem,$b: 165px);
        }
        li{
          @include position(0, 0, relative);
          @include size(29.38rem, 18.13rem);
          border-radius: 1.25rem;
          box-shadow: 0 3px 6px rgba(0,0,0,0.4);
          transition: 1s;
          opacity: 0.8;
          transform: scale(0.8);
          cursor: pointer;
          &:hover{
            opacity: 1;
            transform: scale(1);
          }
          &.on{
            opacity: 1;
            transform: scale(1);
          }
          .black_bg{
            border-radius: 1.25rem;
            background: rgba(0,0,0,0.1);
          }
          .sub_visual_text{
            @include position($l:0, $b:0.3125rem);
            padding: 1.25rem;
            h4{
              @include font(1.875rem, bold, $white_color, "poppins");
            }
            p{
              @include font(1.5rem, null, #eee, "noto sans kr");
            }
          }
          @for $i from 1 to 4{
            &:nth-child(#{$i}){
              @include background('visual#{$i}.jpeg');
            }
          }
        }
      }
    }
    &.new_album{
      overflow: hidden;
      .new_albums{
        @include size;
        @include position(0, 0);
        li{
          .black_bg{
            background: rgba(0,0,0,0.2);
          }
          @include size;
          @include position(0, 0);
          opacity: 0;
          transition: 2s;
          &.on{
            opacity: 1;
            z-index: 1;
          }
          @for $i from 1 to 5{
            &.album0#{$i}{
              @include background('new_album#{$i}.jpg');
            }
          }
        }
        .new_album_text{
          @include position($aside_width, 5rem);
          opacity: 0.7;
          @include small_window{
            @include position(30%, 5rem);
          }
          &:hover{
            opacity: 1;
          }
          h2{
            @include font(4.375rem, bold, #fff, "poppins");
            @include position(0.625rem, -0.25rem, relative);
            line-height: 5.625rem;
          }
          p{
            @include font(1.5rem, bold, $white_color);
          }
          .play_btn{
            @include size(12.5rem, 3.75rem);
            cursor: pointer;
            margin-top: 5rem;
            img{
              @include size;
            }
          }
        }
      }
      .album_slide{
        @include size(48.75rem, 30rem);
        @include position(45%, $r:0);
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 2;
        ul{
          @include position(0, 0);
          @include flex;
          transition: 1s;
          li{
            @include size(30rem, 30rem);
            opacity: 0.5;
            img{
              @include size;
            }
            &.on{
              animation: album_change 1s forwards;
            }
            &.off{
              animation: album_small 1s forwards;
            }
          }
        }
      }
      .toggle_btn{
        @include position(10.125rem, 56.25rem);
        @include size(12.125rem, 3.75rem);
        @include flex($a:null);
        z-index: 2;
        @include small_window{
          @include position(18%, 54%);
        }
        span{
          @include size(2.188rem, 3.75rem);
          &:first-child{
            @include arrow(left);
          }
          &:last-child{
            @include arrow(right);
          }
        }
      }
    }
    &.artist{
      @include background('artist_bg.jpg');
      &.on{
        .artist_img{
          animation: artist_move 2s forwards;
        }
        .artist_text{
          animation: artist_text 1s 1s forwards;
        }
        .popular_song{
          animation: artist_text 1s 2s forwards;
        }
        .popular_album{
          animation: artist_text 1s 3s forwards;
        }
      }
      .artist_img{
        @include position($l:0, $b:-100%);
        @include size(51.81rem, 73.75rem);
        @include small_window{
          @include size(640px, auto);
        }
        img{
          @include size;
        }
      }
      .artist_text{
        @include position($l:11.25rem, $b:17.81rem);
        z-index: 2;
        opacity: 0;
        h3{
          @include font(1.875rem, bold);
        }
        h2{
          @include font(6.25rem, bold, #fff);
        }
      }
      .artist_list{
        @include position($r:0, $b:0);
        @include size(46.31rem, 52.5rem);
        @include small_window{
          bottom: 100px;
        }
        h4{
          @include font(1.5rem, bold, #fff);
        }
        .popular_song{
          opacity: 0;
          @include position(0, 0);
          @include size(32.5rem, 28.13rem);
          .popular_song_title{
            color: #fff;
            @include flex($a:null);
            ul{
              @include size(8.625rem, 2.5rem);
              @include flex($a:null);
              img{
                @include size(0.9375rem, 0.9375rem);
              }
              li{
                @include size(2.5rem, 2.5rem);
                @include font(0.75rem);
                @include flex(center,center,column);
                span{
                  width: 3.75rem;
                }
              }
            }
          }
          .popular_song_list{
            @include size(32.5rem, 22.5rem);
            overflow-y: scroll;
            li{
              @include flex;
              padding: 1.25rem 0.5rem 0.875rem;
              border-bottom: 1px solid #ccc;
              .popular_song_songs{
                @include flex($j:null);
                div{
                  @include size(3.75rem, 3.75rem);
                  border-radius: 4px;
                  overflow: hidden;
                  margin-right: 0.875rem;
                  img{
                    @include size;
                  }
                }
                p{
                  @include font(1.125rem, bold, #fff);
                  line-height: 1.75rem;
                  span{
                    @include font(0.875rem, normal, #ccc);
                  }
                }
              }
              .popular_song_btn{
                img{
                  @include size(1.25rem, 1.25rem);
                  vertical-align: middle;
                  margin-right: 0.625rem;
                  &:last-child{
                    @include size(00.3125rem, 1.25rem);
                  }
                }
              }
            }
          }
        }
        .popular_album{
          opacity: 0;
          @include size(100%, 17.75rem);
          @include position($b:6.25rem, $r:0);
          ul{
            margin-top: 1.875rem;
            @include flex($a:null);
            li{
              width: 11.25rem;
              margin-right: 2.5rem;
              @include flex($j:null, $d:column);
              .popular_album_art{
                @include size(8.875rem, 8.875rem);
                @include position($p:relative);
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 1.25rem;
                div{
                  @include size(2.5rem, 2.5rem);
                  @include position(50%, 50%);
                  border-radius: 50%;
                  background: #ccc;
                  transform: translate(-50%,-50%);
                }
                img{
                  @include size;
                }
              }
              .popular_album_song{
                text-align: center;
                color: #eee;
                h6{
                  @include font(1.25rem, bold);
                  height: 3.125rem;
                  line-height: 1.5rem;
                }
                p{
                  @include font(1.125rem);
                }
              }
            }
          }
        }
      }
    }
    &.magazine{
      background: #000;
      overflow: hidden;
      display: flex;
      .magazine_text{
        @include size(50%, 100%);
        position: relative;
        .scroll_bar{
          @include size(0.625rem, 28.13rem);
          @include position(50%, 6.25rem);
            border-radius: 1.563rem;
            transform: translateY(-50%);
            border: 1px solid #ccc;
            div{
              @include size(100%, 25%);
              background: $main_gradient;
              border-radius: 1.563rem;
              transition: 2s;
            }
        }
        .magazine_index{
          @include position($aside_width, 11.25rem);
          li{
            background: black;
            @include position(0, 0);
            opacity: 0;
            transition: 1s;
            &:first-child{
              opacity: 1;
            }
            h3{
              @include font(null, bold);
              margin-bottom: 2.5rem;
            }
            h6{
              @include font(1.125rem, bold, #398B5A);
            }
            h2{
              @include font(2.5rem, bold, #fff);
              margin-bottom: 3.75rem;
            }
            p{
              color: #ccc;
              width: 34.375rem;
            }
          }  
        }
      }
      .magazine_img{
        @include size(50%);
        position: relative;
        ul{
          @include size(100%, 400%);
          @include position(0, 0);
          @include flex($j:null, $a:null, $d:column);
          transition: 2s;
        }
        li{
          @include size;
          @for $i from 1 to 5{
            &:nth-child(#{$i}){
              @include background('magazine#{$i}.jpg');
            }
          }
        }
      }
    }
  }
}  

#wrap_chart{
  width: $sub_width;
  padding: 6.25rem 5rem;
  @include small_window{
    @include size(100%);
  }
  .chart{
    .chart_text{
      height: 6.563rem;
      position: relative;
      p{
        color: #c7c7c7;
      }
      .chart_category{
        @include position(3rem, 28.44rem);
        @include small_window{
          @include position(3rem, 400px);
        }
        display: flex;
        li{
          color: #c7c7c7;
          line-height: 0.875rem;
          margin-right: 0.9375rem;
          padding-left: 0.9375rem;
          border-left: 1px solid $gray_color;
          &:first-child{
            color: $main_color;
            border-left: 0px;
          }
        }
      }
    }
    .chart_main{
      @include position(2.5rem, $p:relative);
      @include size(100%,37.5rem);
      img{
        @include size;
      }
      .no1{
        @include size(18.75rem);
        .no1_art{
          @include size(15.625rem, 15.625rem);
          @include small_window{
            @include size(250px, 250px);
          }
          border-radius: 1.25rem;
          overflow: hidden;
          box-shadow: -1.25rem 1.25rem 1.25rem rgba(0,0,0,0.4);
        }
        .no1_title{
          @include font(2.5rem, bold, $black_color_second);
          @include size(100%, 9.375rem);
          @include text;
          padding-top: 1.875rem;
          line-height: 3.125rem;
          .number{
            font-family: 'poppins';
          }
        }
        .no1_artist{
          @include font(1.25rem, bold);
          @include text;
        }
        .no1_box{
          margin-top: 2.25rem;
          @include flex($j:null, $a:null, $d: column);
          ul{
            li{
              @include size(1.25rem, 1.25rem);
              &:nth-child(3){
                @include size(1.25rem, 0.3125rem);
              }
            }
          }
          >div{
            @include flex;
            line-height: 2.813rem;
            height: 2.813rem;
            &:first-child{
              border-bottom: 1px solid $gray_color;
              .date{
                @include font($c:$black_color_second, $f:'poppins');
              }
              .long{
                @include font(1.25rem, bold, $main-color);
              }
            }
            &:last-child{
              div{
                @include font($c:$main-color, $f:'poppins');
                height: 2.5rem;
                display: flex;
                span{
                  @include size(1.563rem, 1.563rem);
                  margin-right: 0.625rem;
                  margin-top: 0.625rem;
                }
              }
            }
          }
        }
      }
      .chart_list{
        @include position(0, 29.06rem);
        @include small_window{
          @include position(0, 400px);
        }
        @include size(66.88rem);
        .chart_list_title{
          @include position(-2.625rem, 3.75rem);
          display: flex;
          font-weight: bold;
          li{
            &:nth-child(1){
              margin-right: 5.625rem;
            }
            &:nth-child(2){
              margin-right: 17.75rem;
            }
            &:nth-child(3){
              margin-right: 9rem;
            }
          }
        }
        .chart_list_list{
          @include size;
          overflow-y: scroll;
          .chart_lists{
            @include size(100%, 3.125rem);
            @include flex($j:null);
            background: #f5f5f5;
            color: $black_color_second;
            border-radius: 0.875rem;
            padding: 0 1.125rem;
            margin-bottom: 0.625rem;
            cursor: pointer;
            &:hover{
              background-color: #4be274;
              color: #fff;
            }
            >ul{
              @include flex;
              width: 100%;
              .updown{
                @include font(0.75rem, bold);
                width: 1.5rem;
                margin-right: 1.125rem;
                &.down{
                  color: red;
                  img{
                    @include size(0.625rem, 0.4375rem);
                    vertical-align: middle;
                    margin-right: 0.0625rem;
                  }
                }
                &.up{
                  color: blue;
                  img{
                    @include size(0.625rem, 0.4375rem);
                    vertical-align: middle;
                    margin-right: 0.0625rem;
                  }
                }
                &.normal{
                  img{
                    @include size(1.125rem, 0.125rem);
                    vertical-align: middle;
                  }
                }
              }
              @mixin chart_list($w, $m) {
                width: $w;
                margin-right: $m;
              }
              .rank{
                @include font(1.125rem, $f:'poppins');
                @include chart_list(1.25rem, 1.875rem);
              }
              .chart_art{
                @include chart_list(null, 1.5rem);
                @include size(2.25rem, 2.25rem);
                border-radius: 0.25rem;
              }
              .chart_songs{
                @include font(1rem, bold);
                @include text;
                @include chart_list(17.38rem, 1.5rem);
              }
              .chart_artist{
                @include chart_list(7.5rem, 4.375rem);
                @include text;
              }
              .chart_album{
                @include chart_list(23.75rem, 1.5rem);
                @include text;
              }
            }
          }
        }
      }
    }
    .play_icon{
      @include size(5rem, 1.25rem);
      @include flex;
      li{
        @include size(1.25rem, 1.25rem);
        &:nth-child(3){
          @include size(1.25rem, 0.3125rem);
        }
      }
    }
  }
}
#wrap_trend{
  z-index: 2;
  .trend{
    .toggle_btn{
      @include size(7.5rem, 1.875rem);
      @include flex($a:null);     
      .left{
        @include size(1.125rem,1.875rem);
        @include arrow(left);
      }
      .right{
        @include size(1.125rem, 1.875rem);
        @include arrow(right);
      }
    }
    .trend_main{
      @include position(0, 10%, relative);
      @include size(80%, 26.25rem);
      .toggle_btn{
        @include position(0, 50%);
        transform: translateX(-50%);
      }
      .trend_slide{
        @include position(3.125rem, 0);
        @include size(100%, 18.75rem);
        .trend_imgs{
          li{
            @include position(50%, null);
            @include size(37.5rem, 100%);
            transition: 1s;
            transform: translate(0,-50%) scale(0.8);
            &.trend_0{
              z-index: 3;
              left: 50%;
              transform: translate(-50%,-50%) scale(1);
              .trend_img_texts{
                width: 22.81rem;
                line-height: 3.75rem;
              }
              .trend_play_btn{
                display: block;
              }
            }
            &.trend_1{
              filter: blur(4px);
              z-index: 0;
              left: 0;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                h2{
                  @include font(1.25rem);
                }
              }
            }
            &.trend_2{
              filter: blur(4px);
              z-index: 0;
              left: 39.38rem;
              .trend_play_btn{
                display: none;
              }
              .trend_img_texts{
                left: $aside_width;
                h2{
                  @include font(1.25rem);
                }
              }
            }
            .trend_img_texts{
              @include position($l:1.875rem, $b:1.875rem);
              h2{
                @include font(1.875rem, bold, #fff);
              }
              p{
                @include font(1.125rem, bold, $gray_color);
              }
            }
            .trend_play_btn{
              @include size(12.5rem, 3.75rem);
              @include position($r:1.875rem, $b:1.875rem);
            }
          }
        }
      }
    }
    .trend_songs{
      @include small_window{
        margin-top: 50px;
      }
      .trend_songs_title{
        width: 93.75rem;
        @include flex;
        h3{
          @include font(1.875rem, bold, $black_color_second);
        }
        .toggle_btn{
          width: 5rem;
        }
      }
      .trend_list_slide{
        @include size(100%, 23.125rem);
        margin-top: 1.25rem;
        overflow: hidden;
        .trend_songs_list{
          @include position(0, 0, relative);
          @include flex($a:null);
        }
        li{
          @include size(9.375rem, 9.375rem);
          @include flex($j:null, $d:column);
          position: relative;
          text-align: center;
          .trend_songs_art{
            @include size(9.375, 9.375);
            position: relative;
            box-shadow: 0px 6px 0.625rem rgba(0,0,0,0.2);
            >img{
              @include size;
            }
            &:hover{
              .black_bg{
                opacity: 1;
              }
            }
            .black_bg{
              opacity: 0;
              transition: 1s;
              .btn{
                @include position(50%, 50%);
                transform: translate(-50%, -50%);
                cursor: pointer;
              }
            }
          }
          .trend_songs_text{
            margin-top: 0.625rem;
            h6{
              @include font(1rem, bold, $black_color);
              @include text;
              @include size(13.125rem, null);
            }
            p{
              @include text;
              @include size(13.125rem,null);
              color: $black_color;
            }
          }
        }
      }
    }
  }
}
#wrap_podcast{
  z-index: 2;
  background-color: black;
  overflow: hidden;
  .page_toggle{
    @include size(1.25rem, 2.125rem);
    @include position(50%, null);
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    @include small_window{
      @include position(400px, null);
    }
    &.on{
      display: none;
    }
    &.left{
      left: 1.875rem;
      opacity: 0.8;
      animation: toggle_move_left 2s infinite;
      @include arrow(left);
      &:hover{
        opacity: 1;
      }
    }
    &.right{
      right: 18.13rem;
      opacity: 0.8;
      animation: toggle_move_right 2s infinite;
      @include small_window{
        right: 25px;
        animation: small_toggle_right 2s infinite;
      }
      @include arrow(right);
      &:hover{
        opacity: 1;
      }
    }
  }
  .podcast{
    @include size($sub_width*2, 100vh);
    @include position(null, 0, relative);
    display: flex;
    transition: 1s;
    @include small_window{
      @include size(200%);
    }
    >li{
      @include size(50%, 100vh);
      padding: 6.25rem 5rem;
      position: relative;
      &.on{
        .article{
          animation: artist_move 2s 1s forwards;
        }
      }
      &:nth-child(2){
        .article{
          left: 46.25rem;
          img{
            @include size(58.75rem, auto);
          }
          .blur{
            background: radial-gradient(circle, rgba(255,221,0,1) 0%, rgba(255,255,0,1) 100%);
          }
        }
      }
      .article{
        @include position($l:50rem, $b:-100%);
        .blur{
          @include position(65%, 55%);
          @include size(43.75rem, 43.75rem);
          transform: translate(-50%, -50%);
          background: radial-gradient(circle, rgba(219,37,232,1) 0%, rgba(238,8,130,1) 100%);
          border-radius: 50%;
          filter: blur(3.125rem);
        }
        img{
          @include size(48.75rem, auto);
          position: relative;
          z-index: 1;
        }
      }
      .podcast_main{
        @include size(52.5rem, null);
        z-index: 3;
        @include small_window{
          margin-top: 120px;
        }
        .podcast_text{
          h2{
            @include font(4.375rem, bold, #fff);
            line-height: 5rem;
            width: 37.5rem;
          }
          p{
            @include font(1.125rem, normal, $gray_color);
            margin-top: 1.25rem;
          }
          .play_btn{
            margin-top: 3.125rem;
            img{
              @include size(12.5rem, 3.75rem);
            }
          }
        }
        .recently{
          width: 100%;
          position: relative;
          z-index: 3;
          .recently_title{  
            @include flex($a:null);
            margin-top: 6.875rem;
            h4{
              @include font(1.875rem, bold, #fff, 'poppins');
            }
          }
          .contents{
            @include flex($a:null);
            margin-top: 1.25rem;
            width: 100%;
            .recently_img{
              @include size(16.25rem, 8.75rem);
              border-radius: 0.75rem;
              background: #ccc;
              box-shadow: 3px 3px 6px rgba(255,255,255,0.5);
            }
            p{
              margin-top: 1.25rem;
              color: #eee;
            }
          }
        }
      }
    }
  }
}
#wrap_musicvideo{
  z-index: 2;
  .musicvideo{
    .sub_menu_title{
      @include position($p:relative);
      z-index: 2;
    }
    .musicvideo_main{
      @include size(100%, 25rem);
      background: #fff;
      z-index: 0;
      @include small_window{
        @include size(100%, 380px);
      }
      .video_play{
        $video_size: 34.375rem;
        @include size(100%, $video_size);
        @include position(0, 0);
        @include small_window{
          @include size(100%, 500px);
        }
        &:hover {
          .black_bg{
            opacity: 1;
          }
          .mouseover{
          opacity: 0.8;
          }
        }
        video{
          @include size;
          object-fit: cover;
        }
        .movie_controler{
          @include position($b:0, $l:0);
          @include size(100%, 0.625rem);
          background: #eee;
          .movie_underbar{
            @include size(0);
            background: $main_gradient2;
            transition: 1s;
          }
        }
        .mute_btn, .muteX_btn{
          @include size(1.875rem, 1.875rem);
          @include position($l:5rem, $b:1.875rem);
          cursor: pointer;
          opacity: 0;
          img{
            vertical-align: middle;
          }
        }
        .muteX_btn{
          display: none;
        }
        .black_bg{
          opacity: 0;
          height: $video_size - 0.625rem;
          @include small_window{
            height: 490px;
          }
        }
        .musicvideo_albumart{
          @include size(12.5rem, 12.5rem);
          @include position(13.75rem, 5rem);
          @include small_window{
            top:50%;
            transform: translateY(-50%);
          }
          opacity: 0;
          transition: 1s;
          img{
            @include size;
          }
        }
        .musicvideo_text{
          @include position(13.75rem, 21.25rem);
          opacity: 0;
          transition: 1s;
          @include small_window{
            top:50%;
            transform: translateY(-50%);
          }
          h2{
            @include font(3.125rem, bold, #fff, 'poppins');
          }
          p{
            @include font(1.25rem, bold, #eee);
          }
        }
        .video_play_btn{
          display: none;
        }
        .video_play_btn, .video_stop_btn{
          @include position(50%, 50%);
          transform: translate(-50%,-50%);
          opacity: 0;
          transition: 1s;
          cursor: pointer;
          img{
            @include size(2.5rem, 2.5rem);
          }
        }
      } 
    }
    .popular_video{
      margin-top: 2.5rem;
      .popular_video_title{
        @include flex;
        width: 20rem;
        h5{
          @include font(1.875rem, bold, $black_color_second);
        }
        ul{
          @include size(5rem, 0.9375rem);
          @include flex($a:null);
          color: #c7c7c7;
          line-height: 0.9375rem;
          li{
            cursor: pointer;
            &:first-child{
              padding-right: 0.625rem;
              border-right: 1px solid #c7c7c7;
              color: $main_color;
            }
          }
        }
      }
      .popular_video_list{
        @include flex($a:null);
        margin-top: 1.5rem;
        width: 95rem;
        .videos{
          @include size(13.75rem, 7.5rem);
          .snapshot{
            cursor: pointer;
            @include size(100%, 7.5rem);
            position: relative;
            border-radius: 0.75rem;
            background: #ccc;
            overflow: hidden;
            transition: 1s;
            &:hover{
              transform: scale(1.2);
              z-index: 2;
            }
            video{
              @include size;
              object-fit: cover;
            }
            .black_bg{
              border-radius: 0.75rem;
            }
          }
          .text{
            position: relative;
            margin-top: 0.625rem;
            h6{
              @include font(1.125rem, bold, $black_color_second);
            }
            p{
              color: $gray_color;
            }
            .more_btn{
              @include position(50%, $r:0.625rem);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
#wrap_melondj{
  z-index: 2;
  .dj{
    .dj_main{
      @include size(100%, 28.125rem);
      @include small_window{
        @include size(100%, 400px);
      }
      .dj_main_ul{
        margin-top: 1.875rem;
        display: flex;
        height: 100%;
        overflow: hidden;
        .dj_lists{
          @include size(17%);
          transition: 0.5s;
          position: relative;
          background: #ddd;
          .black_bg{
            background: rgba(0,0,0,0.6);
          }
          .dj_main_text{
            @include position($l:1.563rem, $b:3.125rem);
            .main_tags{
              span{
                color: $main_color;
                padding: 0.3125rem;
              }
            }
            h2{
              @include font(1.25rem, bold, #eee);
              margin: 0.625rem 0;
              height: 4.375rem;
            }
            .dj_play_btn{
              display: none;
            }
            .dj_sub_text{
              p{
                display: none;
              }
              ul{
                display: flex;
                li{
                  color:$white_color_second;
                  &:first-child{
                    color: $main_color;
                    padding-right: 0.625rem;
                    margin-right: 0.625rem;
                    border-right: 1px solid #ccc;
                    img{
                      vertical-align: middle;
                      @include size(auto, 0.875rem);
                    }
                  }
                }
              }
            }
          }
          &.on{
            width: 34%;
            .black_bg{
              background: rgba(0,0,0,0.4);
            }
            .dj_main_text{
              width: 17.5rem;
              left: 3.125rem;
              .main_tags{
                span{
                  padding: 0 0.625rem;
                  border: 2px solid $main_color;
                  border-radius: 3.125rem;
                  color: #fff;
                  margin-right: 0.625rem;
                }
              }
              h2{
                @include font(1.875rem);
                margin-bottom: 1.875rem;
              }
              p{
                @include font(1rem, null, $gray_color);
                display: block;
              }
              .dj_play_btn{
                @include position(3.125rem, $r:-7.5rem);
                display: block;
                cursor: pointer;
                img{
                  @include size(3.125rem, 3.125rem);
                }
              }
              ul{
                @include position($b:0, $r:0);
              }
            }
          }
        }
      }
    }
    .popular_dj{
      margin-top: 3.125rem;
      .popular_dj_title{
        h5{
          @include font(1.5rem, bold, $black_color_second);
        }
      }
      .popular_dj_list{
        @include position(1.25rem, 0, relative);
        @include flex($a:null);
        >li{
          display: flex;
          .dj_art{
            @include size(6.25rem, 6.25rem);
            position: relative;
            border-radius: 50%;
            box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
            img{
              @include size;
              border-radius: 50%;
            }
          }
          .dj_text{
            width: 13.125rem;
            margin-left: 0.9375rem;
            position: relative;
            .tags{
              span{
                @include font(0.625rem);
                border: 1px solid $main_color;
                padding: 0 0.3125rem;
                border-radius: 3.125rem;
              }
            }
            h2{
              @include font(0.875rem, bold);
              margin: 0.625rem 0;
              height: 2.5rem;
              line-height: 1.25rem;
            }
            p{
              @include font(0.625rem, null, $gray_color);
            }
            ul{
              @include position($r:0, $b:0);
              @include font(0.625rem);
              display: flex;
              li{
                &:first-child{
                  color: $main_color;
                  padding-right: 0.625rem;
                  margin-right: 0.625rem;
                  border-right: 1px solid #ccc;
                  img{
                    vertical-align: middle;
                    @include size(auto, 0.625rem);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
